.lookOutBody {
    /* margin-top: -200px; */
    margin-top: -80px;
    /* margin-left: auto;
    margin-right: auto; */
    /* max-width: 1600px; */
    /* height: 684px; */
    background: #FFFFFF;
    border-radius: 25px;
    opacity: 1; 
    display: flex;
    flex-direction: column; 
    justify-content: center;
    background-image: url('../../assets/Mask Group 11.svg');
    background-size: 374px 472px;
    background-position: bottom left;
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;
}

.lookOutBodySub {
    display: flex;
    /* margin-top: 100px; */
    padding-top: 200px;
}

.lookOut, .beyond {
    font: normal normal 900 50px/50px Paralucent;
    letter-spacing: 2.5px;
    color: #565656;
    opacity: 1;
}


.allIn {
    font: normal normal 25px/35px Paralucent;
    letter-spacing: 1.25px;
    font-size: 25px;
    font-weight: 600;
    color: #565656;
    opacity: 1;
}

.allInSub {
    font-size: 20px;
    font: normal normal 300 20px/35px Paralucent;
    letter-spacing: 1px;
    color: #565656;
    padding-right: 100px;
}

.leftSide {
    display: flex;
    flex: 1;
}

.rightSide {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.lookOutSectionHeader {
    margin-right: auto;
    margin-left: auto;
}

.referances {
    display: flex;
    flex: 1;
}

.referancesBody {
    padding: 0 90px;
}

.referancesBodySub {
    display: flex;
    flex-direction: row;
    padding-bottom: 40px;
}

@media (max-width:1200px) {
    .referances {
        margin: 0 2px;
    }
}

@media (max-width:1200px) {
    .referancesBody {
        padding: 0 50px;
    }
}

@media (max-width:992px) {
    .lookOutBodySub {
        padding-top: 100px;
    } 
    .referancesBodySub {
        flex-direction: column;
    }
    .referances {
        margin: 10px 0;
    }
    .rightSide {
        display: none;
    }
}


.referancesBodyHr {
    margin-top: 100px;
    /* margin-bottom: 60px; */
    padding-bottom: 20px;
}

.lookOutBody img {
    height: 72px;
    margin-left: auto;
    margin-right: auto;
    filter: grayscale(100%);
}

.lookOutBody img:hover {
    height: 72px;
    margin-left: auto;
    margin-right: auto;
    filter: grayscale(0%);
}


