.welcomeBody {
    display: flex;
    flex-direction: column;
    margin-bottom: -190px;
    height: 1011px; 
    opacity: 1;
    font-weight: 500;
    position: relative;
    z-index: 3;
}

.welcomeBodyWrapper {
    padding-top: 150px !important;
}

.welcome {
    margin-left: auto;
    margin-right: auto;
    margin-top: 38px;
    text-align: center;
    font: normal normal 47px/47px Paralucent;
    letter-spacing: 2.35px;
    color: #D3148B;
    opacity: 1;
    padding-top: 150px;
}

.increase {
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
    text-align: center;
    font: normal normal 50px/71px Paralucent;
    letter-spacing: 2.5px;
    color: #FFFFFF;
    text-shadow: 0px 4px 10px #00000033;
    opacity: 1;
}

.services {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font: normal normal 50px/71px Paralucent;
    letter-spacing: 2.5px;
    color: #1F0242;
    text-shadow: 0px 4px 10px #00000033;
    opacity: 1;
}

.weAre {
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    text-align: center;
    font: normal normal 300 24px/34px Paralucent;
    letter-spacing: 1.2px;
    color: #FFFFFF;
    text-shadow: 0px 4px 10px #00000033;
    opacity: 1;
    margin-bottom: 75px;
}

.contactUs {
    margin-right: 20px;
    width: 264px;
    height: 52px;
    text-align: center;
    font: normal normal 17px/20px Montserrat;
    letter-spacing: 0.17px;
    color: #D3148B;
    opacity: 1;
    background: #FFFFFF;
    border-radius: 26px;
    border: 1px solid #FFFFFF;
    opacity: 1;
}

.contactUs:hover {
    background: transparent;
    border: 1px solid #FFFFFF;
    color: white;
}

.ourServices {
    width: 264px;
    height: 52px;
    text-align: center;
    font: normal normal 17px/20px Montserrat;
    letter-spacing: 0.17px;
    color: white;
    border: 1px solid white;
    opacity: 1;
    background: transparent;
    border-radius: 26px;
    border-color: white;
    opacity: 1;
}

.ourServices:hover {
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    color: #D3148B;
}


.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.and {
    color: white;
}

.welcomeLottie {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(20px);
}

@media (min-width: 768px) and (max-width: 991px) {
    .welcomeBody {
        margin-bottom: 120px;
        height: auto;
    }
}

@media (max-width: 767px) {
    .welcomeBody {
        margin-bottom: 120px;
        height: auto;
    }
    
    .welcomeBodyWrapper {
        padding-top: 150px !important;
    }
    
    .welcome {
        font: normal normal 16px Paralucent;
        margin-top: -60px;
    }
    
    .increase {
        font: normal normal 24px Paralucent;
        margin-top: 30px;
    }
    
    .services {
        font: normal normal 24px Paralucent;
    }
    
    .weAre {
        font: normal normal 300 16px Paralucent;
        line-height: 25px !important;
        margin-bottom: 50px;
    }
    
    .contactUs {
        width: 318px;
        height: 36px;
        font: normal normal 14px Montserrat;
        margin-bottom: 20px;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    
    .ourServices {
        width: 318px;
        height: 36px;
        font: normal normal 14px Montserrat;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    .buttons {
        flex-direction: column;
    }

    .welcomeBr {
        display: none;
    }

    .welcomeLottie {
        top: 0%;
        left: 50%;
        width: 990px;
        height: 660px;
    }
    
}










