.careerCarouselWrapper {
    position: relative;
}

/* .careerCarouselWrapper ul {
    padding-top: 100px;
    padding-bottom: 100px;
} */

.careerCarouselBackImg {
    position: absolute;
    z-index: 0;
    margin-left: 61%;
    margin-top: -5%;
    filter: blur(50px);
}