.careerCarouselSectionWrapper {
    margin-top: 200px;
    position: relative;
}

.careerCarouselSectionHeader {
    text-align: center;
    font: normal normal bold 60px/60px Paralucent;
    letter-spacing: 0px;
    color: #444444;
    opacity: 1;
    margin-top: 200px;
}

@media (max-width: 767px) {
    .careerCarouselSectionWrapper {
        margin-top: 70px;
    }
    
    .careerCarouselSectionHeader {
        font: normal normal bold 40px Paralucent;
        margin-top: 0;
    }
}