.wordCounterOtherSectionsHeader {
    text-align: center;
    font: normal normal bold 60px/60px Paralucent;
    letter-spacing: 0px;
    color: #444444;
    opacity: 1;
    margin-top: 550px;
    margin-bottom: 60px;
    position: relative;
}

.wordCounterOtherSectionsBackLeftFirstImg {
    position: absolute;
    z-index: 0;
    margin-left: -55%;
    margin-top: -46%;
    filter: blur(50px);
}

.wordCounterOtherSectionsBackLeftSecondImg {
    position: absolute;
    z-index: 0;
    margin-left: -55%;
    margin-top: 32%;
    filter: blur(50px);
}

.wordCounterOtherSectionsBackRightImg {
    position: absolute;
    z-index: 0;
    margin-left: 72%;
    margin-top: 19%;
    filter: blur(50px);
}

@media (max-width: 767px) {
    .wordCounterOtherSectionsHeader {
        font: normal normal bold 40px Paralucent;
        margin-top: 485px;
        margin-bottom: 16px;
    }
    
    .wordCounterOtherSectionsBackLeftFirstImg {
        position: absolute;
        z-index: 0;
        margin-left: -55%;
        margin-top: -46%;
        filter: blur(50px);
    }
    
    .wordCounterOtherSectionsBackLeftSecondImg {
        position: absolute;
        z-index: 0;
        margin-left: -55%;
        margin-top: 32%;
        filter: blur(50px);
    }
    
    .wordCounterOtherSectionsBackRightImg {
        position: absolute;
        z-index: 0;
        margin-left: 72%;
        margin-top: 19%;
        filter: blur(50px);
    }
}

