.whyYouShouldChooseUsSectionWrapper {
    position: relative;
    margin-top: 175px;
    margin-bottom: 120px;
}

.whyYouShouldChooseUsSectionHeader {
    text-align: left;
    font: normal normal normal 25px/60px Paralucent;
    letter-spacing: 0px;
    color: #D3148B;
    text-transform: lowercase;
    opacity: 1;
    margin-bottom: 10px;
}

.whyYouShouldChooseUsSectionHeaderSub {
    text-align: left;
    font: normal normal bold 60px/60px Paralucent;
    letter-spacing: 0px;
    color: #444444;
    opacity: 1;
    margin-bottom: 60px;
}

.whyYouShouldChooseUsSectionSmallCards {
    display: flex;
    flex-direction: column;
}

.whyYouShouldChooseUsSectionBody {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 14px;
}

.whyYouShouldChooseUsSectionCardRec {
    flex: 0 0 96px;
    max-width: 96px;
    height: 99px;
    background: #FFFFFF no-repeat;
    border-radius: 25px;
    opacity: 1;
    margin-right: 24px;
}

.whyYouShouldChooseUsSectionSmallHeaders {
    font: normal normal 20px/28px Paralucent;
    letter-spacing: 0px;
    color: #D3148B;
    opacity: 1;
    margin-bottom: 10px;
}

.whyYouShouldChooseUsSectionParag {
    font: normal normal 20px/24px Montserrat;
    letter-spacing: 0px;
    color: #444444;
    opacity: 1;
}

.whyYouShouldChooseUsSectionCardRec img {
    display: block;
    margin: 20px auto 20px auto;
}

.whyYouShouldChooseUsSectionBackLeftImg {
    position: absolute;
    z-index: 0;
    margin-left: -56%;
    margin-top: -15%;
}

.whyYouShouldChooseUsSectionBackRightImg {
    position: absolute;
    z-index: 0;
    margin-left: 72%;
    margin-top: 21%;
}

.whyYouShouldChooseUsSectionImageWrapper {
    z-index: 1;
}

.whyYouShouldChooseUsSectionRightSide {
    z-index: 1;
}

@media (max-width: 767px) {
    .whyYouShouldChooseUsSectionWrapper {
        margin-top: 40px;
        margin-bottom: 60px;
    }
    
    .whyYouShouldChooseUsSectionHeader {
        font: normal normal normal 16px Paralucent;
        margin-bottom: 16px;
    }
    
    .whyYouShouldChooseUsSectionHeaderSub {
        font: normal normal bold 40px Paralucent;
        margin-bottom: 30px;
    }
    
    .whyYouShouldChooseUsSectionBody {
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
    }
    
    .whyYouShouldChooseUsSectionCardRec {
        flex: 0 0 72px;
        max-width: 62px;
        height: 72px;
        border-radius: 20px;
        margin-right: 0;
        margin-bottom: 16px;
    }
    
    .whyYouShouldChooseUsSectionSmallHeaders {
        font: normal normal 16px Paralucent;
        margin-bottom: 8px;
    }
    
    .whyYouShouldChooseUsSectionParag {
        font: normal normal 16px Montserrat;
        line-height: 19px;
    }
    
    .whyYouShouldChooseUsSectionCardRec img {
        margin: 15px auto;
        width: 42px;
        height: auto;
    }
    
    .whyYouShouldChooseUsSectionBackLeftImg {
        position: absolute;
        z-index: 0;
        margin-left: -56%;
        margin-top: -15%;
    }
    
    .whyYouShouldChooseUsSectionBackRightImg {
        position: absolute;
        z-index: 0;
        margin-left: 72%;
        margin-top: 21%;
    }
}