.expertiseFAQSectionHeader {
    text-align: center;
    font: normal normal bold 60px/60px Paralucent;
    letter-spacing: 0px;
    color: #444444;
    opacity: 1;
    margin-top: 550px;
    margin-bottom: 60px;
}

.expertiseFAQSectionBackRightImg {
    position: absolute;
    z-index: 0;
    margin-left: 65%;
    margin-top: -54%;
}

.expertiseFAQSectionBackLeftImg {
    position: absolute;
    z-index: 0;
    margin-left: -54%;
    margin-top: 6%;
}

.changesforTool {
    position: absolute;
    z-index: 0;
    margin-left: 65%;
    margin-top: -12%;
}

@media (max-width: 767px) {
    .expertiseFAQSectionHeader {
        font: normal normal bold 40px Paralucent;
        margin-top: 60px;
        margin-bottom: 16px;
    }
    
    .expertiseFAQSectionBackRightImg {
        display: none;
    }
    
    .expertiseFAQSectionBackLeftImg {
        display: none;
    }
    
    .changesforTool {
        display: none;
    }
}