.joinAndApplySectionLink {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.joinAndApplySectionLink a {
    text-decoration: none;
    text-align: left;
    font: normal normal 300 20px/28px Paralucent;
    letter-spacing: 0px;
    color: #929393;
    opacity: 1;
}

.joinAndApplySectionLink a:hover {
    color: #D3148B;
}

.redDot {
    width: 6px;
    height: 6px;    
    background: #D3148B;
    border-radius: 50%;
    margin: 0 8px;
}

.joinAndApplySectionHeader {
    text-align: center;
    font: normal normal 47px/47px Paralucent;
    letter-spacing: 2.35px;
    color: #D3148B;
    opacity: 1;
    margin-bottom: 40px;
}

.joinAndApplySectionHeaderSub {
    text-align: center;
    font: normal normal 50px/64px Paralucent;
    letter-spacing: 2.5px;
    color: #FFFFFF;
    text-shadow: 0px 4px 10px #00000033;
    opacity: 1;
    margin-bottom: 30px;
}

.joinAndApplySectionParag {
    text-align: center;
    font: normal normal 300 24px/34px Paralucent;
    letter-spacing: 1.2px;
    color: #FFFFFF;
    text-shadow: 0px 4px 10px #00000033;
    opacity: 1;
    margin-bottom: 60px;
}

.joinAndApplySectionJoinButton {
    width: 264px !important;
    height: 52px;
    background: #FFFFFF;
    border: 1px solid white;
    border-radius: 26px;
    opacity: 1;
    text-align: center;
    font: normal normal 17px/20px Montserrat;
    letter-spacing: 0.17px;
    color: #D3148B;
    margin: 0 auto 40px auto;
}

.joinAndApplySectionJoinButton:hover {
    background: transparent ;
    color: #FFFFFF;
    border: 1px solid white;
}

.joinAndApplySectionBackMiddleImg {
    position: absolute;
    z-index: 0;
    margin-left: 1%;
    margin-top: -1%;
    filter: blur(50px);
}

.joinAndApplySectionBackLeftImg {
    position: absolute;
    z-index: 0;
    margin-left: -40%;
    margin-top: 30%;
}

.joinSectionCardWrapper {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
}

.joinSectionWhiteCard {
    background: #FFFFFF;
    border-radius: 41px;
    opacity: 1;
    padding: 60px 90px 60px 60px;
    max-width: 37%;
}

.joinSectionWhiteCardOther {
    background: #FFFFFF;
    border-radius: 41px;
    opacity: 1;
    padding: 60px 60px 60px 90px;
    max-width: 37%;
}

.joinSectionCardHeader {
    text-align: left;
    font: normal normal 30px/43px Paralucent;
    letter-spacing: 0px;
    color: #565656;
    opacity: 1;
    margin-bottom: 30px;
}

.joinSectionCardParag {
    text-align: left;
    font: normal normal 300 20px/28px Paralucent;
    letter-spacing: 0px;
    color: #444444;
    opacity: 1;
}

.joinSectionOrangeCard {
    background: #FF8049;
    border-radius: 41px;
    opacity: 1;
    padding: 60px 90px 60px 60px;
    max-width: 37%;
    position: relative;
    z-index: 2;
    margin-top: -325px;
}

.joinSectionOrangeCardForMobile {
    display: none;
}

.joinSectionOrangeCardHeader {
    text-align: left;
    font: normal normal 30px/43px Paralucent;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-bottom: 30px;
}

.joinSectionOrangeCardParag {
    text-align: left;
    font: normal normal 300 20px/28px Paralucent;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.applySectionWrapper {
    margin-top: 200px !important;
    position: relative;
}

.applySectionBodyLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.applySectionHeader {
    text-align: left;
    font: normal normal 900 50px/50px Paralucent;
    letter-spacing: 2.5px;
    color: #FFFFFF;
    opacity: 1;
    margin-bottom: 30px;
}

.applySectionButton {
    width: 264px;
    height: 52px;
    background: #FFFFFF;
    border: 1px solid white;
    border-radius: 26px;
    opacity: 1;
    text-align: center;
    font: normal normal 17px/20px Montserrat;
    letter-spacing: 0.17px;
    color: #D3148B;

}

.applySectionButton:hover {
    background: transparent;
    color: white;
}

.applySectionBodyRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.applySectionParagFirst {
    text-align: left;
    font: normal normal 300 20px/35px Paralucent;
    letter-spacing: 1px;
    color: #565656;
    margin-bottom: 40px;
}

.applySectionParagSecond {
    text-align: left;
    font: normal normal 300 20px/35px Paralucent;
    letter-spacing: 1px;
    color: #565656;
}

@media (max-width: 767px) {
    .joinAndApplySectionLink {
        justify-content: center;
        margin-top: 20px;
    }
    
    .joinAndApplySectionLink a {
        font: normal normal 300 14px Paralucent;
    }
    
    .joinAndApplySectionHeader {
        font: normal normal 16px Paralucent;
        margin-bottom: 16px;
    }
    
    .joinAndApplySectionHeaderSub {
        font: normal normal 24px Paralucent;
        margin-bottom: 16px;
    }
    
    .joinAndApplySectionParag {
        font: normal normal 300 16px Paralucent;
        margin-bottom: 30px;
        line-height: 22px;
    }

    .joinAndApplySectionParag br {
        display: none;
    }
    
    .joinAndApplySectionJoinButton {
        width: 318px !important;
        height: 36px;
        font: normal normal 14px Montserrat;
        margin: 0 auto 30px auto;
    }

    .joinAndApplySectionBackMiddleImg {
        position: absolute;
        z-index: 0;
        margin-left: 1%;
        margin-top: -1%;
        filter: blur(50px);
    }
    
    .joinAndApplySectionBackLeftImg {
        display: none;
    }

    .joinSectionCardWrapper {
        flex-direction: column;
        justify-content: baseline;
    }
    
    .joinSectionWhiteCard {
        border-radius: 25px;
        padding: 30px 30px 60px 30px;
        max-width: 95%;
    }
    
    .joinSectionWhiteCardOther {
        border-radius: 25px;
        padding: 60px 30px 30px 30px;
        max-width: 95%;
    }
    
    .joinSectionCardHeader {
        font: normal normal 24px Paralucent;
        margin-bottom: 16px;
        line-height: 34px;
    }
    
    .joinSectionCardParag {
        font: normal normal 300 16px Paralucent;
        line-height: 19px;
    }
    
    .joinSectionOrangeCard {
        display: none;
    }

    .joinSectionOrangeCardForMobile {
        display: block;
        background: #FF8049;
        border-radius: 25px;
        opacity: 1;
        padding: 30px;
        max-width: 95%;
        position: relative;
        z-index: 2;
        margin-top: -10%;
        margin-bottom: -10%;
        margin-left: auto;
    }

    .joinSectionOrangeCardHeaderForMobile {
        text-align: left;
        font: normal normal 24px Paralucent;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        margin-bottom: 16px;
        line-height: 34px;
    }
    
    .joinSectionOrangeCardParagForMobile {
        text-align: left;
        font: normal normal 300 16px Paralucent;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        line-height: 19px;
    }

    .applySectionWrapper {
        margin-top: 90px !important;
    }
    
    .applySectionHeader {
        font: normal normal 900 40px Paralucent;
        line-height: 40px;
    }

    .applySectionHeader br {
        display: none;
    }
    
    .applySectionButton {
        width: 318x;
        height: 36px;
        font: normal normal 14px Montserrat;  
        margin-bottom: 44px;  
    }
    
    .applySectionParagFirst {
        font: normal normal 300 16px Paralucent;
        margin-bottom: 30px;
        line-height: 22px;
    }
    
    .applySectionParagSecond {
        font: normal normal 300 16px Paralucent;
        line-height: 22px;
    }
}