.JsonLdOtherSectionsHeader {
    text-align: center;
    font: normal normal bold 60px/60px Paralucent;
    letter-spacing: 0px;
    color: #444444;
    opacity: 1;
    margin-top: 120px;
    margin-bottom: 60px;
}

.jsonLdOtherSectionsBackLeftFirstImg {
    position: absolute;
    z-index: 0;
    margin-left: -55%;
    margin-top: -29%;
    filter: blur(50px);
}

.jsonLdOtherSectionsBackLeftSecondImg {
    position: absolute;
    z-index: 0;
    margin-left: -55%;
    margin-top: 36%;
    filter: blur(50px);
}

.jsonLdOtherSectionsBackRightImg {
    position: absolute;
    z-index: 0;
    margin-left: 72%;
    margin-top: 19%;
    filter: blur(50px);
}