.GrowWithUsSectionBody {
    height: 566px;
    margin-bottom: 120px;
    position: relative;
}

.GrowWithUsCard {
    margin-top: 50px;
    height: 144px;
    background: #F7F7F7;
    border-radius: 72px;
    opacity: 1;
    padding-top: 40px;
}

.GrowWithUsCardToggle {
    margin-top: 50px;
    height: auto;
    background: #F7F7F7;
    border-radius: 72px;
    opacity: 1;
    padding-top: 40px;
}

.GrowWithUsCardActiveWrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.GrowWithUsCardActiveWrapperOther {
    display: flex;
    flex: 2;
    flex-direction: column;
}

.GrowWithUsFirstInputAarea {
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px !important;
}

.GrowWithUsSecondInputAarea {
    display: flex;
    margin-bottom: 20px;
}

.GrowWithUsInputDefault {
    width: 95%;
    height: 64px;
    background: #FFFFFF;
    border-radius: 32px;
    opacity: 1;
    border: none;
    padding-left: 20px;
    font-family: 'Paralucent', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

.GrowWithUsInputDefaultInvalid {
    width: 95%;
    height: 64px;
    background: #FFFFFF;
    border-radius: 32px;
    opacity: 1;
    border: 2px solid #D3148B;
    padding-left: 20px;
    font-family: 'Paralucent', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

.GrowWithUsInputDefaultInvalid::placeholder {
    font: normal normal 300 20px/28px Paralucent;
    letter-spacing: 0px;
    color: #929393;
    font-size: 20px;
}

.GrowWithUsInputDefault::placeholder, .GrowWithUsSelectOption, .GrowWithUsInputName::placeholder, .GrowWithUsInputEmail::placeholder,
.GrowWithUsInputYourPhone::placeholder  {
    font: normal normal 300 20px/28px Paralucent;
    letter-spacing: 0px;
    color: #929393;
    font-size: 20px;
}

.GrowWithUsTextArea::placeholder {
    font: normal normal 300 20px/28px Paralucent;
    letter-spacing: 0px;
    color: #929393;
    font-size: 20px;
}

.GrowWithUsParagDefault {
    font-size: 31px;
    flex: 1;
    text-align: center;
    font: normal normal 300 30px/43px Paralucent;
    letter-spacing: 0px;
    color: #444444;
    opacity: 1;
    margin-top: auto;
    margin-bottom: auto;
}

.GrowWithUsParagActiveExtra {
    display: none;
}

.continueButton {
    width: 134px;
    height: 36px;
    background: #FF8049;
    border-radius: 32px;
    opacity: 1;
    color: white;
    font: normal normal bold 20px/28px Paralucent;
    font-size: 20px;
    border: 1px solid white;
    margin-right: 5px;
}

.GrowWithUsCardActive {
    margin-top: 50px;
    padding-top: 40px;
    background: #F7F7F7;
    border-radius: 72px;
    opacity: 1;
}

.GrowWithUsCardActiveFirstRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.GrowWithUsParagActive {
    font-size: 20px;
    text-align: left;
    font: normal normal 300 20px/28px Paralucent;
    letter-spacing: 0px;
    color: #929393;
    opacity: 1;
    margin-top: 24px;
    margin-left: 12px;
}

.GrowWithUsInputName, .GrowWithUsInputEmail, .GrowWithUsInputYourPhone, .GrowWithUsSelectOption  {
    width: 90%;
    height: 64px;
    background: #FFFFFF;
    border-radius: 32px;
    opacity: 1;
    border: none;
    padding-left: 20px;
    font-family: 'Paralucent', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

.GrowWithUsTextArea {
    width: 95%;
    height: 128px;
    background: #FFFFFF;
    border-radius: 32px;
    opacity: 1;
    border: 1px solid white;
    resize: none;
    padding: 10px 155px 0 20px;
    font-family: 'Paralucent', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

.GrowWithUsImage {
    width: 386px;
    height: 386px;
    margin-top: -60px;
}

.GrowWithUsCheckboxLabel {
    font-size: 16px;
    font: normal normal 300 16px/22px Paralucent;
    letter-spacing: 0px;
    color: #929393;
    opacity: 1;
    margin-left: 15px;
}

.GrowWithUsCheckbox {
    width: 16px;
    height: 16px;
    background-color: transparent;
    border: 1px solid #929393;
    border-radius: 5px;
    opacity: 1;
}

.continueButton {
    position: absolute;
    z-index: 2;
    background-color: #1e90ff;
    width: 134px;
    height: 36px;
    text-align: center;
    font: normal normal bold 20px/28px Paralucent;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    background: #FF8049;
    border-radius: 32px;
    border: 1px solid #FF8049;
    opacity: 1;
    top: 23%;
    right: 8%;
}

.sendButton {
    position: absolute;
    z-index: 2;
    background-color: #1e90ff;
    width: 134px;
    height: 100px;
    text-align: center;
    font: normal normal bold 20px/28px Paralucent;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    background: #FF8049;
    border-radius: 32px;
    border: 1px solid #FF8049;
    opacity: 1;
    top: 11%;
    right: 8%;
}

.GrowWithUsCheckbox[type=checkbox] {
    position: relative;
    cursor: pointer;
}

.GrowWithUsCheckbox[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    border: 1px solid #929393;
    border-radius: 3.5px;
    background-color: #f7f7f7;
}

.GrowWithUsCheckbox[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid #929393;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    left: 6px;
}

.GrowWithUsSelectOption {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: white;
    background-image: url('../../../assets/Path 16724-forSelect.svg');
    background-size: 23px 23px;
    background-repeat: no-repeat;
    background-position-x: 94%;
    background-position-y: 60%;
}

@media (max-width: 1200px) {
    .GrowWithUsCardDefaultWrapper {
        flex: 0.9;
    }
}

@media (max-width: 767px) {
    .GrowWithUsSectionBody {
        height: auto;
        margin-bottom: 88px;
    }
    
    .GrowWithUsCardToggle {
        margin-top: 0;
        height: auto;
        border-radius: 0;
        padding: 30px 36px;
    }
    
    .GrowWithUsFirstInputAarea {
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;
        margin-top: 16px !important;
    }

    .GrowWithUsSecondInputAarea {
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;
    }

    .GrowWithUsImageArea {
        display: none;
    }

    .GrowWithUsInputDefault {
        width: 100%;
        height: 48px;
        font-size: 16px;
    }
    
    .GrowWithUsInputDefaultInvalid {
        width: 100%;
        height: 48px;
        font-size: 16px;
    }
    
    .GrowWithUsInputDefaultInvalid::placeholder {
        font: normal normal 300 16px Paralucent;
    }
    
    .GrowWithUsInputDefault::placeholder, .GrowWithUsSelectOption, .GrowWithUsInputName::placeholder, .GrowWithUsInputEmail::placeholder,
    .GrowWithUsInputYourPhone::placeholder  {
        font: normal normal 300 16px Paralucent;
    }
    
    .GrowWithUsTextArea::placeholder {
        font: normal normal 300 16px Paralucent;
    }
    
    .GrowWithUsParagDefault {
        font: normal normal 300 24px Paralucent;
        /* margin-top: auto; */
        margin-bottom: 15px;
    }
    
    .continueButton {
        display: none;
    }
    
    .GrowWithUsParagActiveExtra {
        display: block;
        text-align: left;
        font: normal normal 300 16px Paralucent;
        line-height: 22px;
        color: #929393;
        opacity: 1;
        margin-bottom: 30px;
    }
    
    .GrowWithUsInputName, .GrowWithUsInputEmail, .GrowWithUsInputYourPhone, .GrowWithUsSelectOption  {
        width: 100%;
        height: 48px;
        font-size: 16px;
    }

    .GrowWithUsInputName, .GrowWithUsSelectOption {
        margin-bottom: 16px;
    }
    
    .GrowWithUsTextArea {
        width: 100%;
        height: 96px;
        font-size: 20px;
        white-space: nowrap;
    }

    .GrowWithUsFirstCheckboxArea {
        margin-bottom: 16px;
    }
    
    .GrowWithUsCheckboxLabel {
        font: normal normal 300 14px Paralucent;
    }
    
    .sendButton {
        width: 318px;
        height: 48px;
        font: normal normal bold 16px Paralucent;
        top: 260%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}

@media (max-width: 518px) {
    .sendButton {
        top: 275%;
    }
}

@media (max-width: 402px) {
    .sendButton {
        top: 305%;
    }
}