.blogDetailsIntroLink {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 79px;
    margin-bottom: 12px;
    position: relative;
    z-index: 3;
    margin-left: 30px;
}

.blogDetailsIntroLink a {
    text-decoration: none;
    text-align: left;
    font: normal normal 300 20px/28px Paralucent;
    letter-spacing: 0px;
    color: #929393;
    opacity: 1;
}

.blogDetailsIntroLink a:hover {
    color: #D3148B;
}

.redDot {
    width: 6px;
    height: 6px;    
    background: #D3148B;
    border-radius: 50%;
    margin: 0 8px;
}

.BlogDetailsIntroHeader {
    margin: 0 0 30px 30px;
    text-align: left;
    font: normal normal 20px/28px Paralucent;
    letter-spacing: 0px;
    color: #444444;
    opacity: 1;
}

.blogDetailsIntroImage {
    max-width: 100%;
    margin-bottom: 60px;
}

.blogDetailsIntroProfileArea {
    position: absolute;
    z-index: 2;
    top: -10%;
    right: -25%;
}

.blogDetailsIntroProfileBody {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #F7F7F7;
    border-radius: 72px 0 0 72px;
    opacity: 1;
    padding: 24px 270px 24px 24px;
}

.blogDetailsIntroProfileDate {
    text-align: left;
    font: normal normal normal 16px/19px Montserrat;
    letter-spacing: 0px;
    color: #444444;
    opacity: 1;
    margin-left: 150px;
    margin-bottom: 10px;
}

.blogCardBottomSideNameSurname {
    text-align: left;
    font: normal normal 24px/34px Paralucent;
    letter-spacing: 0px;
    color: #D3148B;
    opacity: 1;
    margin-left: 30px;
}

.blogCardBottomSidePorfileTtile {
    text-align: left;
    font: normal normal 300 16px/22px Paralucent;
    letter-spacing: 0px;
    color: #444444;
    opacity: 1;
    margin-left: 30px;
}

.blogProfileImg {
    width: 96px;
    height: 96px;
}

.blogDetailsIntroProfileDateForMobile {
    display: none;
}

.blogDetailsIntroBackImg {
    position: absolute;
    z-index: 0;
    margin-left: 69%;
    margin-top: -22%;
    filter: blur(50px);
}

@media (max-width: 767px) {
    .blogDetailsIntroLink {
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 78px;
        margin-left: 0;
    }
    
    .blogDetailsIntroLink a {
        font: normal normal 300 14px Paralucent;
    }
    
    .BlogDetailsIntroHeader {
        display: none;
    }
    
    .blogDetailsIntroImage {
        margin-bottom: 30px;
        width: 100%;
        height: 160px;
    }
    
    .blogDetailsIntroProfileArea {
        position: absolute;
        z-index: 2;
        top: 0%;
        right: -15%;
    }
    
    .blogDetailsIntroProfileBody {
        padding: 8px 53px 8px 8px;
    }
    
    .blogDetailsIntroProfileDate {
        display: none;
    }

    .blogDetailsIntroProfileDateForMobile {
        display: block;
        text-align: left;
        font: normal normal normal 14px Montserrat;
        letter-spacing: 0px;
        color: #444444;
        opacity: 1;
        margin-left: 24px;
        margin-bottom: 16px;
    }
    
    .blogCardBottomSideNameSurname {
        font: normal normal 20px Paralucent;
        margin-left: 8px;
    }
    
    .blogCardBottomSidePorfileTtile {
        font: normal normal 300 14px Paralucent;
        margin-left: 8px;
    }
    
    .blogProfileImg {
        width: 56px;
        height: 56px;
    }
    
    .blogDetailsIntroBackImg {
       display: none;
    }
}