.SEOToolsSectionLink {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 46px;
}

.SEOToolsSectionLink a {
    text-decoration: none;
    text-align: left;
    font: normal normal 300 20px/28px Paralucent;
    letter-spacing: 0px;
    color: #929393;
    opacity: 1;
}

.SEOToolsSectionLink a:hover {
    color: #D3148B;
}

.redDot {
    width: 6px;
    height: 6px;    
    background: #D3148B;
    border-radius: 50%;
    margin: 0 8px;
}

.SEOToolsSectionWrapper {
    position: relative;
}

.SEOToolsSectioBody {
    position: relative;
    z-index: 1;
    margin-bottom: 100px;
}

.SEOToolsSectionHeader {
    text-align: left;
    font: normal normal 20px/47px Paralucent;
    letter-spacing: 1px;
    color: #D3148B;
    opacity: 1;
}

.SEOToolsSectionHeaderSub {
    text-align: left;
    font: normal normal bold 40px/64px Paralucent;
    letter-spacing: 2px;
    color: #3B3B3B;
    opacity: 1;
    margin-bottom: 20px;
}

.SEOToolsSectionParag {
    text-align: left;
    font: normal normal 20px/35px Paralucent;
    letter-spacing: 1px;
    color: #565656;
    opacity: 1;
    margin-bottom: 68px;
}

.SEOToolsSectionButton {
    background: #FFFFFF;
    border-radius: 26px;
    opacity: 1;
    text-align: center;
    font: normal normal 17px/20px Montserrat;
    letter-spacing: 0.17px;
    color: #D3148B;
    width: 264px;
    height: 52px;
    border: 1px solid white;
}

.SEOToolsSectionButton:hover {
    background: transparent;
    color: white;
}

.SEOToolsSectionBackLeftImg {
    position: absolute;
    z-index: 0;
    margin-left: -51%;
    margin-top: 10%;
}

.SEOToolsSectionBackRightImg {
    position: absolute;
    z-index: 0;
    margin-left: 52%;
    margin-top: -26%;
}

@media (max-width: 767px) {
    .SEOToolsSectionLink {
        justify-content: center;
        margin-top: 16px;
        margin-bottom: 30px;
    }
    
    .SEOToolsSectionLink a {
        font: normal normal 300 14px Paralucent;
    }
    
    .SEOToolsSectioBody {
        margin-bottom: 49px;
    }
    
    .SEOToolsSectionHeader {
        font: normal normal 16px Paralucent;
        margin-bottom: 16px;
    }
    
    .SEOToolsSectionHeaderSub {
        font: normal normal bold 24px Paralucent;
        margin-bottom: 16px;
        line-height: 30px;
    }
    
    .SEOToolsSectionParag {
        font: normal normal 16px Paralucent;
        margin-bottom: 30px;
        line-height: 22px;
    }
    
    .SEOToolsSectionButton {
        font: normal normal 14px Montserrat;
        width: 318px;
        height: 36px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .SEOToolsSectionBackLeftImg {
        display: none;
    }
    
    .SEOToolsSectionBackRightImg {
        position: absolute;
        z-index: 0;
        margin-left: 52%;
        margin-top: -26%;
    }
    
}
