.benefitsAndPerksSectionHeader {
    text-align: center;
    font: normal normal bold 60px/60px Paralucent;
    letter-spacing: 0px;
    color: #444444;
    opacity: 1;
    margin-bottom: 30px;
    margin-top: 215px;
}

.benefitsAndPerksSectionParag {
    text-align: center;
    font: normal normal 300 20px/35px Paralucent;
    letter-spacing: 1px;
    color: #565656;
    margin-bottom: 60px;
}

@media (max-width:767px) {
    .benefitsAndPerksSectionHeader {
        font: normal normal bold 40px Paralucent;
        margin-bottom: 16px;
        margin-top: 90px;
    }
    
    .benefitsAndPerksSectionParag {
        font: normal normal 300 16px Paralucent;
        margin-bottom: 30px;
        line-height: 22px;
    }
}
