.footerSocialMedia {
    width: 42px;
    height: 42px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    opacity: 1;
    background-color: transparent;
    margin-left: 10px;
}

.footerSocialMediaForSuccessStories {
    width: 60px;
    height: 60px;
    border: 1px solid #EBEBEB;
    border-radius: 50%;
    opacity: 1;
    background-color: transparent;
    margin-bottom: 8px;
}

.footerSocialMediaEx {
    width: 42px;
    height: 42px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    opacity: 1;
    margin-left: 10px;
}

.footerSocialMediaForMobile  {
    width: 32px;
    height: 32px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    opacity: 1;
    background-color: transparent;
    margin-left: 8px;
}

.footerSocialMediaForMobile svg {
    display: block;
    margin: auto;
    margin-top: 4px;
}

.footerSocialMediaForMobile img {
    display: block;
    margin: auto;
    margin-top: 4px;
}

.footerSocialMediaExForSuccessStories {
    width: 60px;
    height: 60px;
    border: 1px solid #EBEBEB;
    border-radius: 50%;
    opacity: 1;
    margin-bottom: 8px;
}

.footerSocialMediaExForSuccessStories:hover .footerSocialMediaFaceIcon path[fill] {
    fill: #d3148b;
}

.footerSocialMediaExForSuccessStories:hover {
    background: #1F0242;
}

.footerSocialMediaExForSuccessStories:hover svg path[fill] {
    fill: #d3148b;
}

.footerSocialMediaFaceIconForBlogDetails path[fill] {
    fill: #d3148b;
}

.footerSocialMediaEx:hover {
    background: #1F0242;
}

.footerSocialMedia img, .footerSocialMediaEx svg {
    display: block;
    margin: auto;
    margin-top: 10px;
}

.footerSocialMediaExForSuccessStories svg, .footerSocialMediaForSuccessStories img  {
    display: block;
    margin: auto;
    margin-top: 12px;
}

.mobileImages {
    transform: scale(0.8);
}