.positionYouCanWorkCard {
    position: relative;
    height: auto;
    background: #F7F7F7;
    border-radius: 0 0 50px 50px;
    opacity: 1;
    padding: 50px 60px;
}

.positionYouCanWorkCardHeader {
    text-align: left;
    font: normal normal 30px/43px Paralucent;
    letter-spacing: 0px;
    color: #565656;
    opacity: 1
}

.positionYouCanWorkCardParag {
    text-align: left;
    font: normal normal 300 20px/28px Paralucent;
    letter-spacing: 0px;
    color: #929393;
    opacity: 1;
}

.positionYouCanWorkCardSub {
    background: #F7F7F7;
    text-decoration: none;
    padding: 30px 40px 30px 40px;
}

.positionYouCanWorkCardSub:hover {
    background: white;
    border-radius: 25px;
    opacity: 1;
    position: relative;
    z-index: 2;
}

.positionYouCanWorkCardForwardArrowLarge {
    margin-right: 10px;
}

.positionYouCanWorkCardSub:hover .positionYouCanWorkCardForwardArrowLarge {
    margin-top: -10px;
    margin-right: 0px;
}

.positionYouCanWorkCardSub:hover .positionYouCanWorkCardForwardArrowLarge path[fill] {
    fill: #D3148B;
}

/* .positionYouCanWorkCard:hover .positionYouCanWorkCard {
    padding: 20px 20px;
} */

.positionYouCanWorkCardHr {
    margin: -2px 0;
    margin-left: 40px;
    margin-right: 40px;
}

.positionYouCanWorkCardSub:hover .positionYouCanWorkCardHr {
    color: white;
}

