.successStoriesTableOfContentsMainHeader {
    text-align: left;
    font: normal normal 50px/64px Paralucent;
    letter-spacing: 2.5px;
    color: #444444;
    opacity: 1;
    margin-bottom: 60px;
}

.successStoriesTableOfContentsParag {
    text-align: left;
    font: normal normal 300 20px/35px Paralucent;
    letter-spacing: 1px;
    color: #444444;
    opacity: 1;
    margin-bottom: 30px;
}

.successStoriesTableOfContentsWhiteArea {
    background: #FFFFFF;
    border-radius: 25px;
    opacity: 1;
    padding: 30px;
    margin-bottom: 40px;
}

.successStoriesTableOfContentsWhiteArea ul {
    list-style: none;
}

.successStoriesTableOfContentsWhiteArea li {
    text-align: left;
    font: normal normal 300 20px/28px Paralucent;
    letter-spacing: 1px;
    color: #929393;
    opacity: 1;
    margin-bottom: 20px;
}

.successStoriesTableOfContentsWhiteArea ul li::before {
    content: '•';
    color: #D3148B;
    font-weight: normal;
    display: inline-block; 
    width: 1em; 
    margin-left: -1.5em; 
}

.successStoriesTableOfContentsOtherArea ul, .successStoriesTableOfContentsBodyOneOther ul {
    list-style: none;
}

.successStoriesTableOfContentsOtherArea li, .successStoriesTableOfContentsBodyOneOther li  {
    text-align: left;
    font: normal normal 300 20px/28px Paralucent;
    letter-spacing: 1px;
    color: #444444;
    opacity: 1;
    margin-bottom: 20px;
}

.successStoriesTableOfContentsOtherArea ul li::before, .successStoriesTableOfContentsBodyOneOther ul li::before{
    content: '•';
    color: #D3148B;
    font-weight: normal;
    display: inline-block; 
    width: 1em; 
    margin-left: -1.5em; 
}

.successStoriesTableOfContentsPicturedArea {
    width: 100%;
    height: 320px;
    border-radius: 25px;
    margin-top: 60px;
    margin-bottom: 60px;
    background-image: url('../../../../assets/Mask Group 25.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.successStoriesTableOfContentsHeaderOther {
    text-align: left;
    font: normal normal 24px/34px Paralucent;
    letter-spacing: 1.2px;
    color: #444444;
    opacity: 1;
    margin-bottom: 30px;
}

.successStoriesTableOfContentsHeaderCore {
    text-align: left;
    font: normal normal 24px/34px Paralucent;
    letter-spacing: 0px;
    color: #D3148B;     
    opacity: 1;
    margin-top: 30px;
    margin-bottom: 16px;
}

.successStoriesTableOfContentsCoreBody {
    background: #FFFFFF;
    border-radius: 25px;
    opacity: 1;
    padding: 30px 60px 30px 60px;
    margin-bottom: 30px;
}

.successStoriesTableOfContentsNumber {
    text-align: left;
    font: normal normal bold 70px/50px Paralucent;
    letter-spacing: 0px;
    color: #FF8049;
    opacity: 1;
    margin-bottom: 10px;
}

.successStoriesTableOfContentsExplanation {
    text-align: left;
    font: normal normal 25px/60px Paralucent;
    letter-spacing: 0px;
    color: #444444;
    opacity: 1;
}

.successStoriesTableOfContentsNumberOther {
    text-align: left;
    font: normal normal bold 40px/60px Paralucent;
    letter-spacing: 0px;
    color: #D3148B;
    opacity: 1;
}

.successStoriesTableOfContentsHeaderCoreGraphics {
    width: 100%;
}

.successStoriesTableOfContentsHeaderOneOther {
    text-align: left;
    font: normal normal 50px/64px Paralucent;
    letter-spacing: 2.5px;
    color: #444444;
    opacity: 1;
    margin-top: 60px;
    margin-bottom: 60px;
}

.successStoriesTableOfContentsBodyOneOther ul {
    list-style: none;
}

.successStoriesTableOfContentsParagOther {
    text-align: left;
    font: normal normal 300 20px/28px Paralucent;
    letter-spacing: 1px;
    color: #444444;
    opacity: 1;
    margin-bottom: 20px;
}

.successStoriesTableOfContentsParagOther::before {
    content: '•';
    color: #D3148B;
    font-weight: normal;
    display: inline-block; 
    width: 1em; 
    margin-left: -1.5em; 
}

.successStoriesTableOfContentsParagOtherSub {
    text-align: left;
    font: normal normal 300 20px/28px Paralucent;
    letter-spacing: 1px;
    color: #929393;
    opacity: 1;
    margin-bottom: 20px;
    margin-left: 30px;
}

.successStoriesTableOfContentsParagOtherSub::before {
    content: 'o' !important;
    color: #D3148B;
    font-weight: normal;
    display: inline-block; 
    width: 1em; 
    margin-left: -1.5em;
}

.successStoriesContentsBodyWhiteCard {
    background: #F7F7F7;
    border-radius: 25px;
    opacity: 1;
    padding: 30px;
    margin-top: 40px;
}

.successStoriesContentsBodyWhiteCard header {
    text-align: left;
    font: normal normal 24px/34px Paralucent;
    letter-spacing: 1.2px;
    color: #444444;
    opacity: 1;
    margin-bottom: 20px;
}

.successStoriesContentsBodyWhiteCard div {
    text-align: left;
    font: normal normal 300 20px/35px Paralucent;
    letter-spacing: 1px;
    color: #929393;
    opacity: 1;
}

.successStoriesContentsBodyColouredCardWrapper {
    margin-top: 30px;
    margin-bottom: 60px;
}

.successStoriesContentsBodyColouredCard {
    width: 100%;
    height: 280px;
    border-radius: 25px;
    background-image: url('../../../../assets/Mask Group 27.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.successStoriesTableOfContentsStatement {
    padding: 60px 60px 44px 60px;
    background: white;
    border-radius: 25px;
    opacity: 1;
    margin-top: 64px;
    margin-bottom: 94px;
    position: relative;
}

.successStoriesTableOfContentsStatementParag {
    text-align: center;
    font: italic normal 42px/52px Montserrat;
    letter-spacing: 0px;
    color: #444444;
    opacity: 1;
    margin-bottom: 10px;
}

.successStoriesTableOfContentsHeaderCoreOther {
    text-align: left;
    font: normal normal 24px/34px Paralucent;
    letter-spacing: 0px;
    color: #D3148B;     
    opacity: 1;
    margin-top: 30px;
    margin-bottom: 16px;
}

.topQuoteImage {
    position: absolute;
    z-index: 2;
    top: -10%;
}   

.bottomQuoteImage {
    position: absolute;
    z-index: 2;
    bottom: -10%;
    right: 7%;
}   

.successStoriesTableOfContentsStatementOther {
    padding: 60px 60px 60px 250px;
    background: white;
    border-radius: 25px;
    opacity: 1;
    background-image: url('../../../../assets/Mask Group 37.svg');
    background-position: bottom left;
    background-repeat: no-repeat;
    margin-bottom: 101px;
    position: relative;
}

.successStoriesTableOfContentsStatementOther header {
    text-align: left;
    font: normal normal 24px/34px Paralucent;
    letter-spacing: 1.2px;
    color: #444444;
    opacity: 1;
    margin-bottom: 30px;
}

.successStoriesTableOfContentsStatementOther div {
    text-align: left;
    font: normal normal 300 20px/35px Paralucent;
    letter-spacing: 1px;
    color: #929393;
    opacity: 1;
}

.successStoriesTableOfContentsSmallFirstCard {
    background: #FFFFFF;
    border-radius: 25px;
    opacity: 1;
    max-width: 52%;
    padding: 40px 60px 40px 60px;
    margin-right: auto;
    z-index: 1;
    position: relative;
}

.successStoriesTableOfContentsSmallSecondCard {
    background: #F7F7F7;
    border-radius: 25px;
    opacity: 1;
    max-width: 52%;
    padding: 40px 60px 40px 60px;
    margin-left: auto;
    z-index: 2;
    margin-top: -80px;
    position: relative;
}

.successStoriesTableOfContentsSmallThirdCard {
    background: #FFFFFF;
    border-radius: 25px;
    opacity: 1;
    max-width: 52%;
    padding: 40px 60px 40px 60px;
    margin-right: auto;
    z-index: 3;
    margin-top: -80px;
    position: relative;
}

.successStoriesTableOfContentsSmallFourthCard {
    background: #F7F7F7;
    border-radius: 25px;
    opacity: 1;
    max-width: 52%;
    padding: 40px 60px 40px 60px;
    margin-left: auto;
    z-index: 4;
    margin-top: -80px;
    position: relative;
}

.successStoriesTableOfContentsSmallCardHeader {
    text-align: left;
    font: normal normal 24px/34px Paralucent;
    letter-spacing: 1.2px;
    color: #444444;
    opacity: 1;
    margin-bottom: 20px;
}

.successStoriesTableOfContentsSmallCardParag {
    text-align: left;
    font: normal normal 300 20px/28px Paralucent;
    letter-spacing: 0px;
    color: #929393;
    opacity: 1;
}

.successStoriesTableOfContentsCardNumber {
    text-align: left;
    font: normal normal 900 82px/104px Paralucent;
    letter-spacing: 4.1px;
    color: #D3148B;
    opacity: 1;
    position: absolute;
    top: -25%;
}

.successStoriesTableOfContentsTableHeader {
    text-align: left;
    font: normal normal 24px/34px Paralucent;
    letter-spacing: 0px;
    color: #444444;
    opacity: 1;
    margin-top: 68px;
    margin-bottom: 30px;
}

.successStoriesTableOfContentsTableBody {
    background: #FFFFFF;
    border-radius: 25px;
    opacity: 1;
    padding: 40px;
}

.successStoriesTableOfContentsTableBody table, .successStoriesTableOfContentsTableBody th, .successStoriesTableOfContentsTableBody td {
    border: 1px solid #E3E3E3;
    border-collapse: collapse;
}

.successStoriesTableOfContentsTableBody table {
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid white !important;

}

.successStoriesTableOfContentsTableBody th {
    background-color: #EBEBEB;
    padding: 23px 58px 21px 30px;
    text-align: center;
    font: normal normal 20px/28px Paralucent;
    letter-spacing: 0px;
    color: #D3148B;
    opacity: 1;
}

.successStoriesTableOfContentsTableBody td {
    padding: 16px 30px 16px 30px;
    text-align: center;
    font: normal normal 300 20px/28px Paralucent;
    letter-spacing: 0px;
    color: #444444;
    opacity: 1;
}

.successStoriesTableOfContentsTableBody tr:nth-child(2n+1) {
    background: #F7F7F7;
}

.successStoriesTableOfContentsTableDescription {
    text-align: left;
    font: normal normal 300 20px/28px Paralucent;
    letter-spacing: 0px;
    color: #444444;
    opacity: 1;
    white-space: nowrap;
    margin-top: 30px;
    margin-bottom: 80px;
}

.successStoriesTableOfContentsShareHereWrapper {
    display: none;
}

.successStoriesContentRightFirstImg {
    position: absolute;
    z-index: 0;
    margin-left: 74%;
    margin-top: 90%;
    filter: blur(50px);
}

.successStoriesContentLeftFirstImg {
    position: absolute;
    z-index: 0;
    margin-left: -116%;
    margin-top: 162%;
    filter: blur(50px);
}

.successStoriesContentRightSecondImg {
    position: absolute;
    z-index: 0;
    margin-left: 74%;
    margin-top: 265%;
    filter: blur(50px);
}

.successStoriesContentLeftSecondImg {
    position: absolute;
    z-index: 0;
    margin-left: -115%;
    margin-top: 318%;
    filter: blur(50px);
}

.successStoriesContentRightThirdImg {
    position: absolute;
    z-index: 0;
    margin-left: 74%;
    margin-top: 418%;
    filter: blur(50px);
}

.successStoriesContentLeftThirdImg {
    position: absolute;
    z-index: 0;
    margin-left: -115%;
    margin-top: 482%;
    filter: blur(50px);
}

.successStoriesContentRightFourthImg {
    position: absolute;
    z-index: 0;
    margin-left: 68%;
    margin-top: 587%;
    filter: blur(50px);
}

.successStoriesContentLeftFourthImg {
    position: absolute;
    z-index: 0;
    margin-left: -115%;
    margin-top: 689%;
    filter: blur(50px);
}

.successStoriesContentRightFifthImg {
    position: absolute;
    z-index: 0;
    margin-left: 70%;
    margin-top: 761%;
    filter: blur(50px);
}

 @media (max-width: 767px) {
    .successStoriesTableOfContentsMainHeader {
        font: normal normal 24px Paralucent;
        margin-bottom: 64px;
        line-height: 34px;
    }
    
    .successStoriesTableOfContentsParag {
        font: normal normal 300 16px Paralucent;
        margin-bottom: 30px;
        line-height: 22px;
    }
    
    .successStoriesTableOfContentsWhiteArea {
        margin-bottom: 30px;
    }
    
    .successStoriesTableOfContentsWhiteArea li {
        font: normal normal 300 16px Paralucent;
        margin-bottom: 16px;
        line-height: 22px;
    }
    
    .successStoriesTableOfContentsOtherArea li, .successStoriesTableOfContentsBodyOneOther li  {
        font: normal normal 300 16px Paralucent;
        margin-bottom: 16px;
        line-height: 22px;
    }
    
    .successStoriesTableOfContentsPicturedArea {
        width: 100%;
        height: 113px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    .successStoriesTableOfContentsHeaderOther {
        font: normal normal 20px Paralucent;
        margin-bottom: 16px;
    }
    
    .successStoriesTableOfContentsHeaderCore {
        font: normal normal 20px Paralucent;
    }
    
    .successStoriesTableOfContentsCoreBody {
        padding: 25px 50px;
        margin-bottom: 28px;
    }
    
    .successStoriesTableOfContentsNumber {
        font: normal normal bold 32px Paralucent;
        margin-bottom: 1px;
        display: flex;
        justify-content: center;
    }
    
    .successStoriesTableOfContentsExplanation {
        font: normal normal 16px Paralucent;
        margin-bottom: 16px;
        display: flex;
        justify-content: center;
    }
    
    .successStoriesTableOfContentsNumberOther {
        font: normal normal bold 32px Paralucent;
        margin-bottom: 1px;
        display: flex;
        justify-content: center;
    }

    .successStoriesTableOfContentsHeaderOneOther {
        font: normal normal 24px Paralucent;
        margin-top: 30px;
        margin-bottom: 16px;
        line-height: 34px;
    }
    
    .successStoriesTableOfContentsParagOther {
        font: normal normal 300 16pxParalucent;
        margin-bottom: 16px;
        line-height: 22px;
    }
    
    .successStoriesTableOfContentsParagOtherSub {
        font: normal normal 300 16px Paralucent;
        margin-bottom: 16px;
        line-height: 22px;
    }
    
    .successStoriesContentsBodyWhiteCard {
        margin-top: 14px;
    }
    
    .successStoriesContentsBodyWhiteCard header {
        font: normal normal 20px Paralucent;
        margin-bottom: 16px;
    }
    
    .successStoriesContentsBodyWhiteCard div {
        font: normal normal 300 16px Paralucent;
    }

    .successStoriesContentsBodyColouredCardWrapper {
        margin-bottom: -30px;
    }
    
    .successStoriesContentsBodyColouredCard {
        width: 100%;
        height: 222px;
        margin-bottom: 30px;
    }
    
    .successStoriesTableOfContentsStatement {
        padding: 30px 16px;
        margin-top: 47px;
        margin-bottom: 47px;
    }
    
    .successStoriesTableOfContentsStatementParag {
        font: italic normal 20px Montserrat;
        margin-bottom: 16px;
        line-height: 24px;
    }

    .successStoriesTableOfContentsHeaderCoreOther {
        font: normal normal 14px Paralucent;  
        margin-top: 0;
        margin-bottom: 0;
    }
    
    .topQuoteImage {
        z-index: 2;
        top: -10%;
        width: 48px;
    }   
    
    .bottomQuoteImage {
        bottom: -10%;
        right: 7%;
        width: 48px;
    }   
    
    .successStoriesTableOfContentsStatementOther {
        padding: 30px;
        margin-bottom: 85px;
        background-size: 142px 142px;
    }
    
    .successStoriesTableOfContentsStatementOther header {
        font: normal normal 20px Paralucent;
        margin-bottom: 8px;
    }
    
    .successStoriesTableOfContentsStatementOther div {
        font: normal normal 300 16px Paralucent;
        line-height: 22px;
    }
    
    .successStoriesTableOfContentsSmallFirstCard {
        max-width: 100%;
        padding: 30px;
        margin-right: 0;
    }
    
    .successStoriesTableOfContentsSmallSecondCard {
        max-width: 100%;
        padding: 30px;
        margin-right: 0;
        margin-top: 44px;
    }
    
    .successStoriesTableOfContentsSmallThirdCard {
        max-width: 100%;
        padding: 30px;
        margin-right: 0;
        margin-top: 44px;
    }
    
    .successStoriesTableOfContentsSmallFourthCard {
        max-width: 100%;
        padding: 30px;
        margin-right: 0;
        margin-top: 44px;
    }
    
    .successStoriesTableOfContentsSmallCardHeader {
        font: normal normal 20px Paralucent;
        margin-bottom: 16px;
    }
    
    .successStoriesTableOfContentsSmallCardParag {
        font: normal normal 300 16px Paralucent;
        line-height: 22px;
    }
    
    .successStoriesTableOfContentsCardNumber {
        font: normal normal 900 56px Paralucent;
        top: -25%;
    }
    
    .successStoriesTableOfContentsTableHeader {
        font: normal normal 20px Paralucent;
        margin-top: 30px;
        margin-bottom: 16px;
    }
    
    .successStoriesTableOfContentsTableBody {
        background: #FFFFFF;
        border-radius: 0;
        padding: 40px 36px;
    }
    
    .successStoriesTableOfContentsTableWrapper {
        overflow-y: scroll;
    }

    .successStoriesTableOfContentsTableBody th {
        padding: 26px 54px 22px 16px;
        font: normal normal 16px Paralucent;
        white-space: nowrap;
    }
    
    .successStoriesTableOfContentsTableBody td {
        padding: 20px 16px;
        font: normal normal 300 16px Paralucent;
        white-space: nowrap;
    }
    
    .successStoriesTableOfContentsTableDescription {
        font: normal normal 300 14px Paralucent;
        margin-top: 16px;
        margin-bottom: 30px;
    }

    .successStoriesTableOfContentsShareHereWrapper {
        display: block;
        display: flex;
        flex-direction: row;
        margin-bottom: 60px;
    }

    .successStoriesTableOfContentsShareHere {
        text-align: left;
        font: normal normal normal 16px/19px Montserrat;
        letter-spacing: 0px;
        color: #444444;
        opacity: 1;
        display: flex;
        align-items: center; 
        justify-content: center;
        margin-right: 30px;
    }    
    
    .successStoriesContentRightFirstImg {
        display: none;
    }
    
    .successStoriesContentLeftFirstImg {
        display: none;
    }
    
    .successStoriesContentRightSecondImg {
        display: none;
    }
    
    .successStoriesContentLeftSecondImg {
        display: none;
    }
    
    .successStoriesContentRightThirdImg {
        display: none;
    }
    
    .successStoriesContentLeftThirdImg {
        display: none;
    }
    
    .successStoriesContentRightFourthImg {
        display: none;
    }
    
    .successStoriesContentLeftFourthImg {
        display: none;
    }
    
    .successStoriesContentRightFifthImg {
        display: none;
    }
 }



