.pinnedBlogBody {
    width: 100%;
    height: auto;
    background: #FFFFFF;
    border-radius: 25px;
    opacity: 1;
    text-decoration: none;
    padding: 40px 40px 60px 30px;
}

.pinnedBlogHeader {
    font-size: 20px;
    text-align: left;
    font: normal normal 20px/28px Paralucent;
    letter-spacing: 0px;
    color: #0E2044;
    opacity: 0.48;
    margin-top: 80px;
}

.pinnedBlogBody img {
    display: block;
    margin-left: auto;
}


.pinnedBlogOtherHeader {
    font-size: 30px;
    text-align: left;
    font: normal normal 30px/43px Paralucent;
    letter-spacing: 0px;
    color: #565656;
    opacity: 1;
    margin-top: 20px; 
}

.pinnedBlogParag {
    font-size: 20px;
    text-align: left;
    font: normal normal 300 20px/28px Paralucent;
    letter-spacing: 0px;
    color: #444444;
    opacity: 1;
    margin-top: 20px; 
}

@media (max-width: 767px) {
    .pinnedBlogBody {
        max-width: 318px !important;
        padding: 40px 40px 19px 24px;
    }
    
    .pinnedBlogHeader {
        font: normal normal 16px Paralucent;
        margin-top: 0;
    }
    
    .pinnedBlogOtherHeader {
        font: normal normal 24px Paralucent;
        margin-top: 30px; 
    }
    
    .pinnedBlogParag {
        font: normal normal 300 16px Paralucent;
        margin-top: 30px; 
        line-height: 22px;
    }
}

