.sliderBlogFirstBody {
    width: 330px;
    height: 400px;
    background: grey;
    border-radius: 25px;
    margin-bottom: 30px;
    position: relative;
    z-index: 4;
    background-image: url('../../../assets/avansas back.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: #FF8049;
}

.sliderBlogBodyWrapper {
    text-decoration: none;
}

.sliderBlogFirstBody:hover {
    background: #FF8049;
    opacity: 1;
}

.sliderBlogFirstBody:hover img {
    padding: 30px 30px;
}

.sliderBlogFirstBody:hover .sliderBlogsHeaderTop {
    margin-top: 100px;
}

.sliderBlogFirstBody img {
    display: block;
    margin-left: auto;
    padding: 40px 40px;
}

.sliderBlogSecondBody {
    width: 330px;
    height: 400px;
    background: grey;
    border-radius: 25px;
    position: relative;
    z-index: 4;
    background-image: url('../../../assets/avansas back.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: #0D1835;
}

.sliderBlogSecondBody:hover {
    background: #0D1835;
    opacity: 1;
}

.sliderBlogSecondBody:hover img {
    padding: 30px 30px;
}

.sliderBlogSecondBody:hover .sliderBlogsHeaderBottom {
    margin-top: 60px;
}

.sliderBlogSecondBody img {
    display: block;
    margin-left: auto;
    padding: 40px 40px;
}

.sliderBlogsHeaderTop {
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    font: normal normal 20px/28px Paralucent;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 0.6;
    margin-top: 80px;
    margin-left: 35px;
}

.sliderBlogsHeaderBottom {
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    font: normal normal 20px/28px Paralucent;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 0.6;
    margin-top: 40px;
    margin-left: 35px;
}

.sliderBlogsOtherHeader {
    font-size: 40px;
    text-align: left;
    font: normal normal 300 40px/56px Paralucent;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-left: 35px;
}

