.contactFormSectionBody {
    height: 566px;
    position: relative;
}

.contactFormSectionBackImg {
    position: absolute;
    z-index: 0;
    margin-left: -27%;
    margin-top: -11%;
}

.contactFormSectionImageForMobile {
    display: none;
}

.contactFormSectionInputNameAndEmail {
    display: flex;
    margin-bottom: 30px;
    margin-top: 30px !important;
}

.contactFormSectionInputCompanyAndPhone {
    display: flex;
    margin-bottom: 30px;
}

.contactFormSectionTextAreaWrapper {
    position: relative;
    margin-bottom: 20px;
}

.contactFormSectionCheckboxWrapper {
    display: flex;
    align-items: center;
}

.contactFormSectionDep {
    border: 1px solid #FFFFFF;
    border-radius: 50px 50px 0px 0px;
    opacity: 1; 
    display: flex;
    justify-content: space-evenly;
}

.contactFormSectionButtons {
    font: normal normal 20px/28px Paralucent;
    background-color: transparent;
    border: none;
    border: 1px solid transparent;
    color: #1F0242;
    opacity: 1;
    margin: 30px 0;
    padding: 10px 20px;
}

.contactFormSectionButtons:hover {
    color: #D3148B;
    border-radius: 26px;
    background: #E3E3E3;
    border: 1px solid #EBEBEB;
    padding: 10px 20px;
    opacity: 1;
}

.contactFormSectionButtonsActive {
    font: normal normal 20px/28px Paralucent;
    opacity: 1;
    margin: 30px 0;
    color: white;
    background: #1F0242;
    border: 1px solid #1F0242;
    border-radius: 26px;
    padding: 10px 20px;
    opacity: 1;
}

.contactFormSectionCardx {
    margin-top: 50px;
    height: 144px;
    background: #F7F7F7;
    border-radius: 72px;
    opacity: 1;
    padding-top: 40px;
}

.contactFormSectionCard {
    height: auto;
    background: white;
    border-radius: 0px 0px 50px 50px;
    opacity: 1;
    padding-top: 40px;
}

.contactFormSectionParag {
    text-align: left;
    font: normal normal 20px/24px Montserrat;
    letter-spacing: 0px;
    color: #444444;
    opacity: 1;
}

.contactFormSectionInputName::placeholder, .contactFormSectionInputEmail::placeholder,
.contactFormSectionInputPhone::placeholder, .contactFormSectionInputCompanyName::placeholder   {
    font: normal normal 300 20px/28px Paralucent;
    letter-spacing: 0px;
    color: #929393;
}

.contactFormSectionTextArea::placeholder {
    font: normal normal 300 20px/28px Paralucent;
    letter-spacing: 0px;
    color: #929393;
}

.continueButton {
    width: 134px;
    height: 36px;
    background: #FF8049;
    border-radius: 32px;
    opacity: 1;
    color: white;
    font: normal normal bold 20px/28px Paralucent;
    font-size: 20px;
    border: 1px solid white;
    margin-right: 5px;
}

.contactFormSectionInputName, .contactFormSectionInputEmail, .contactFormSectionInputPhone, .contactFormSectionInputCompanyName  {
    width: 90%;
    height: 64px;
    background: #FFFFFF;
    border-radius: 32px;
    opacity: 1;
    border: none;
    padding-left: 20px;
    font-family: 'Paralucent', sans-serif;
    font-weight: 300;
    font-size: 20px;
    border: 1px solid #E3E3E3;
}

.contactFormSectionTextArea {
    width: 95%;
    height: 128px;
    background: #FFFFFF;
    border-radius: 32px;
    opacity: 1;
    border: 1px solid white;
    resize: none;
    padding: 10px 155px 0 20px;
    font-family: 'Paralucent', sans-serif;
    font-weight: 300;
    font-size: 20px;
    border: 1px solid #E3E3E3;
}

/* .contactFormSectionImage {
    width: 450x;
    height: 450px;
} */

.contactFormSectionCheckboxLabel {
    font: normal normal 300 16px/22px Paralucent;
    letter-spacing: 0px;
    color: #929393;
    opacity: 1;
    margin-left: 15px;
}

.contactFormSectionCheckbox {
    width: 16px;
    height: 16px;
    background-color: transparent;
    border: 1px solid #929393;
    border-radius: 5px;
    opacity: 1;
}

.sendButton {
    position: absolute;
    z-index: 2;
    background-color: #1e90ff;
    width: 134px;
    height: 100px;
    text-align: center;
    font: normal normal bold 20px/28px Paralucent;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    background: #FF8049;
    border-radius: 32px;
    border: 1px solid #FF8049;
    opacity: 1;
    top: 11%;
    right: 8%;
}

.contactFormSectionCheckbox[type=checkbox] {
    position: relative;
    cursor: pointer;
}

.contactFormSectionCheckbox[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    border: 1px solid #929393;
    border-radius: 3.5px;
    background-color: white;
}

.contactFormSectionCheckbox[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid #929393;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    left: 6px;
}

@media (max-width: 767px) {
    .contactFormSectionBody {
        height: 56px;
    }
    
    .contactFormSectionBackImg {
        display: none;
    }

    .contactFormSectionImage {
        display: none;
    }

    .contactFormSectionInputNameAndEmail {
        flex-direction: column;
        margin-bottom: 16px;
    }
    
    .contactFormSectionInputCompanyAndPhone {
        flex-direction: column;
        margin-bottom: 16px;
    }
    
    .contactFormSectionTextAreaWrapper {
        margin-bottom: 16px;
    }

    .contactFormSectionCheckboxWrapper {
        align-items: flex-start;
    }

    .contactFormSectionImageForMobile {
        display: block;
        margin: auto;
    }
    
    .contactFormSectionDep {
        border: 1px solid #FFFFFF;
        border-radius: 25px 25px 0px 0px;
        justify-content: flex-start;
        overflow-x: scroll;
    }
    
    .contactFormSectionButtons {
        font: normal normal 16px Paralucent;
        margin: 10px 16px;
        white-space: nowrap;
    }
    
    .contactFormSectionButtons:hover {
        white-space: nowrap;
    }
    
    .contactFormSectionButtonsActive {
        font: normal normal 16px Paralucent;
        margin: 10px 16px;
        white-space: nowrap;
    }
    
    .contactFormSectionCard {
        height: auto;
        background: white;
        border-radius: 0px 0px 25px 25px;
        opacity: 1;
        padding: 30px 16px 38px 16px;
    }
    
    .contactFormSectionParag {
        font: normal normal 16px Montserrat;
    }
    
    .contactFormSectionInputName::placeholder, .contactFormSectionInputEmail::placeholder,
    .contactFormSectionInputPhone::placeholder, .contactFormSectionInputCompanyName::placeholder   {
        font: normal normal 300 16px Paralucent;
    }
    
    .contactFormSectionTextArea::placeholder {
        font: normal normal 300 16px Paralucent;
    }
    
    .contactFormSectionInputName, .contactFormSectionInputEmail, .contactFormSectionInputPhone, .contactFormSectionInputCompanyName  {
        width: 100%;
        height: 48px;
        border-radius: 24px;
        font-size: 16px;
    }

    .contactFormSectionInputName, .contactFormSectionInputCompanyName {
        margin-bottom: 16px;
    }
    
    .contactFormSectionTextArea {
        width: 100%;
        height: 96px;
        border-radius: 24px;
        padding: 16px 20px;
        font-size: 16px;
    }
    
    .contactFormSectionCheckboxLabel {
        font: normal normal 300 14px Paralucent;
        margin-left: 14px;
        margin-bottom: 16px;
    }
    
    .sendButton {
        width: 318px;
        height: 48px;
        font: normal normal bold 16px Paralucent;
        border-radius: 24px;
        top: 285%;
        right: -44%;
        transform: translate(-50%, -50%);
    }
}

  