.whatIsJsonLdSectionHeader {
    text-align: center;
    font: normal normal bold 60px/60px Paralucent;
    letter-spacing: 0px;
    color: #444444;
    margin-top: 172px;
}

.whatIsJsonLdSectionParag {
    text-align: left;
    font: normal normal 300 20px/25px Paralucent;
    letter-spacing: 1px;
    color: #565656;
    opacity: 1;
}

.whatIsJsonLdSectionCard {
    background: #F7F7F7;
    border-radius: 41px;
    opacity: 1;
    max-width: 53%;
    padding: 60px 90px 100px 60px;
    z-index: 1;
    margin-top: 96px;
}

.whatIsJsonLdSectionOtherCard {
    background: #FFFFFF;
    border-radius: 41px;
    opacity: 1;
    max-width: 53%;
    padding: 60px 90px 100px 60px;
    margin-left: auto;
    z-index: 2;
    margin-top: -270px;
}

.whatIsJsonLdSectionCardHeader, .whatIsJsonLdSectionOtherCardHeader {
    text-align: left;
    font: normal normal 30px/43px Paralucent;
    letter-spacing: 0px;
    color: #D3148B;
    opacity: 1;
    margin-bottom: 20px;
}

.whatIsJsonLdSectionCardParag, .whatIsJsonLdSectionOtherCardParag {
    text-align: left;
    font: normal normal 300 18px/26px Paralucent;
    letter-spacing: 0px;
    color: #444444;
    opacity: 1;
}

.whatIsJsonLdSectionLoremHeader {
    text-align: center;
    font: normal normal bold 60px/60px Paralucent;
    letter-spacing: 0px;
    color: #444444;
    opacity: 1; 
    margin-top: 120px !important;
    margin-bottom: 30px;
}

.whatIsJsonLdSectionLoremParag {
    text-align: center;
    font: normal normal 20px/35px Paralucent;
    letter-spacing: 1px;
    color: #565656;
    opacity: 1;
    margin-bottom: 60px;
}

.whatIsJsonLdSectionLoremCardBody {
    background: #FFFFFF;
    border-radius: 53px;
    opacity: 1;
    padding: 60px 40px 60px 40px;
}

.whatIsJsonLdSectionLoremCardHeader {
    text-align: left;
    font: normal normal 30px/43px Paralucent;
    letter-spacing: 0px;
    color: #444444;
    opacity: 1;
    margin-bottom: 20px;
}

.whatIsJsonLdSectionLoremCardParag {
    text-align: left;
    font: normal normal normal 20px/24px Montserrat;
    letter-spacing: 0px;
    color: #444444;
    opacity: 1;
}

.whatIsWordCounterSectionBackRightImg {
    position: absolute;
    z-index: 0;
    margin-left: 79%;
    margin-top: -17%;
}

.whatIsWordCounterSectionBackLeftImg {
    position: absolute;
    z-index: 0;
    margin-left: -51%;
    margin-top: 24%;
}

.whatIsWordCounterSectionBackRightSecondImg {
    position: absolute;
    z-index: 0;
    margin-left: 74%;
    margin-top: 95%;
}

@media (max-width: 767px) {
    .whatIsJsonLdSectionHeader {
        font: normal normal bold 40px Paralucent;
        margin-top: 60px;
        margin-bottom: 30px;
    }
    
    .whatIsJsonLdSectionParag {
        margin-top: 30px;
        line-height: 25px;
    }
    
    .whatIsJsonLdSectionCard {
        border-radius: 25px;
        max-width: 90%;
        padding: 30px 30px 60px 30px;
        margin-top: 30px;
    }
    
    .whatIsJsonLdSectionOtherCard {
        border-radius: 25px;
        max-width: 90%;
        padding: 30px;
        margin-top: -30px;
    }
    
    .whatIsJsonLdSectionCardHeader, .whatIsJsonLdSectionOtherCardHeader {
        font: normal normal 24px Paralucent;
        margin-bottom: 16px;
        line-height: 34px;
    }
    
    .whatIsJsonLdSectionCardParag, .whatIsJsonLdSectionOtherCardParag {
        font: normal normal 300 16px Paralucent;
        line-height: 19px;
    }
    
    .whatIsJsonLdSectionLoremHeader {
        font: normal normal bold 40px Paralucent;
        margin-top: 30px !important;
        margin-bottom: 16px;
    }
    
    .whatIsJsonLdSectionLoremParag {
        font: normal normal 16px Paralucent;
        margin-bottom: 40px;
        line-height: 22px;
    }
    
    .whatIsJsonLdSectionLoremCardBody {
        border-radius: 25px;
        padding: 30px;
        margin-bottom: 16px;
    }
    
    .whatIsJsonLdSectionLoremCardHeader {
        font: normal normal 20px Paralucent;
        margin-bottom: 16px;
    }
    
    .whatIsJsonLdSectionLoremCardParag {
        font: normal normal normal 16px Montserrat;
        line-height: 19px;
    }
    
    .whatIsWordCounterSectionBackRightImg {
        display: none;
    }
    
    .whatIsWordCounterSectionBackLeftImg {  
        display: none;
    }
    
    .whatIsWordCounterSectionBackRightSecondImg {
        display: none;
    }    
}