/* Desktop View CSS */

.desktopViewBodyTop {
    background: #F7F7F7;
    border-radius: 50px 50px 0px 0px;
    opacity: 1;
    padding: 60px 40px 30px 40px;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #EBEBEB;
}

.desktopViewBodyTop img {
    max-width: 90px;
    height: 30px;
    flex: 0 0 90px;
    display: block;
    margin: auto;
}

.desktopViewSearchBar {
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    border-radius: 6px;
    opacity: 1;
    padding: 14px 16px;
    text-align: left;
    font: normal normal 300 20px/28px Paralucent;
    letter-spacing: 0px;
    color: #929393;
    width: 100%;
    margin-left: 16px;
}

.desktopViewSearchInfo {
    width: 58px;
    height: 58px;
    flex: 0 0 58px;
    background: #E3E3E3;
    border: 1px solid #EBEBEB;
    border-radius: 6px;
    opacity: 1;
    margin-left: 16px;
}

.desktopViewBodyBottom {
    background: #FFFFFF;
    border-radius: 0px 0px 50px 50px;
    opacity: 1;
    padding: 7px 0 87px 0 ;
}

.desktopViewBodyBottomTopBarFirst {
    width: 64px;
    height: 16px;
    background: #e3e3e3;
    border-radius: 6px;
    opacity: 1;
    margin-left: 146px;
}

.desktopViewBodyBottomTopBarSecond {
    width: 120px;
    height: 16px;
    background: #e3e3e3;
    border-radius: 6px;
    opacity: 1;
    margin-left: 30px;
}

.desktopViewBodyBottomTopBarThird {
    width: 90px;
    height: 16px;
    background: #e3e3e3;
    border-radius: 6px;
    opacity: 1;
    margin-left: 30px;
}

.desktopViewBodyBottomTopBarFourth {
    width: 180px;
    height: 16px;
    background: #e3e3e3;
    border-radius: 6px;
    opacity: 1;
    margin-left: 30px;
}

.desktopViewBodyBottomLine {
    border: 1px solid #EBEBEB;
    opacity: 1;
    margin-top: 7px;
}

.desktopViewHeader {
    text-align: left;
    font: normal normal 30px/43px Paralucent;
    letter-spacing: 0px;
    color: #0000BB;
    opacity: 1;
    margin: 30px 40px 10px 120px;
}

.desktopViewURL {
    text-align: left;
    font: normal normal 300 20px/28px Paralucent;
    letter-spacing: 0px;
    color: #278727;
    opacity: 1;
    margin: 0 40px 10px 120px;
}

.desktopViewDescription {
    text-align: left;
    font: normal normal 300 20px/28px Paralucent;
    letter-spacing: 0px;
    color: #444444;
    opacity: 1;
    margin: 0 40px 30px 120px;
}

.desktopViewBarFirst {
    width: 450px;
    height: 24px;   
    background: #0000BB;
    border-radius: 6px;
    opacity: 0.2;
    margin: 0 40px 10px 120px;
}

.desktopViewBarSecond {
    width: 330px;
    height: 16px; 
    background: #278727;
    border-radius: 6px;
    opacity: 0.2;
    margin: 0 40px 10px 120px;
}

.desktopViewBarThird {
    max-width: 100%;
    height: 16px; 
    background: #444444;
    border-radius: 6px;
    opacity: 0.2;
    margin: 0 40px 10px 120px;
}


.desktopViewBarFourth {
    width: 240px;
    height: 16px;
    background: #444444;
    border-radius: 6px;
    opacity: 0.2;
    margin: 0 40px 0 120px;
}

/* Mobile View CSS */

.mobileViewBodyTop {
    background: #F7F7F7;
    border-radius: 50px 50px 0px 0px;
    opacity: 1;
    padding: 60px 40px 30px 40px;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #EBEBEB;
}

.mobileViewBodyTop img {
    max-width: 90px;
    height: 30px;
    flex: 0 0 90px;
    display: block;
    margin: auto;
}

.mobileViewSearchBar {
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    border-radius: 6px;
    opacity: 1;
    padding: 14px 16px;
    text-align: left;
    font: normal normal 300 20px/28px Paralucent;
    letter-spacing: 0px;
    color: #929393;
    width: 100%;
    margin-left: 16px;
}

.mobileViewSearchInfo {
    width: 58px;
    height: 58px;
    flex: 0 0 58px;
    background: #E3E3E3;
    border: 1px solid #EBEBEB;
    border-radius: 6px;
    opacity: 1;
    margin-left: 16px;
}

.mobileViewBodyBottom {
    background: #FFFFFF;
    border-radius: 0px 0px 50px 50px;
    opacity: 1;
    padding: 7px 0 0 0 ;
}

.mobileViewBodyBottomTopBarFirst {
    width: 64px;
    height: 16px;
    background: #e3e3e3;
    border-radius: 6px;
    opacity: 1;
    margin-left: 40px;
}

.mobileViewBodyBottomTopBarSecond {
    width: 83px;
    height: 16px;
    background: #e3e3e3;
    border-radius: 6px;
    opacity: 1;
    margin-left: 30px;
}

.mobileViewBodyBottomTopBarThird {
    width: 83px;
    height: 16px;
    background: #e3e3e3;
    border-radius: 6px;
    opacity: 1;
    margin-left: 30px;
}

.mobileViewBodyBottomTopBarFourth {
    width: 50px;
    height: 16px;
    background: #e3e3e3;
    border-radius: 6px;
    opacity: 1;
    margin-left: 30px;
    margin-right: 40px;
}

.mobileViewBodyBottomLine {
    border: 1px solid #EBEBEB;
    opacity: 1;
    margin-top: 7px;
}

.mobileViewWhiteWrapper {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    opacity: 1;
    padding: 20px;
    margin: 20px;
}

.mobileViewHeader {
    text-align: left;
    font: normal normal 20px/28px Paralucent;
    letter-spacing: 0px;
    color: #0000BB;
    opacity: 1;
    margin-bottom: 10px;
}

.mobileViewURL {
    text-align: left;
    font: normal normal 300 16px/22px Paralucent;
    letter-spacing: 0px;
    color: #278727;
    opacity: 1;
    margin-bottom: 10px;
}

.mobileViewDescription {
    text-align: left;
    font: normal normal 300 16px/22px Paralucent;
    letter-spacing: 0px;
    color: #444444;
    opacity: 1;
}

.mobileViewBarFirst {
    max-width: 290px;
    height: 24px;   
    background: #0000BB;
    border-radius: 6px;
    opacity: 0.2;
    margin-bottom: 10px;
}

.mobileViewBarSecond {
    max-width: 330px;
    height: 16px; 
    background: #278727;
    border-radius: 6px;
    opacity: 0.2;
    margin-bottom: 10px;
}

.mobileViewBarThird {
    max-width: 279px;
    height: 16px; 
    background: #444444;
    border-radius: 6px;
    opacity: 0.2;
    margin-bottom: 10px;
}

.mobileViewBarFourth {
    max-width: 240px;
    height: 16px;
    background: #444444;
    border-radius: 6px;
    opacity: 0.2;
}

.mobileViewBodyGray {
    background: #F7F7F7;
    border-radius: 0px 0px 50px 50px;
    padding-bottom: 18px;
}

/* Input Area CSS */

.SERPInputArea {
    background: #F7F7F7;
    border-radius: 50px;
    opacity: 1;
    padding: 60px 40px 60px 40px !important;
    margin-top: 30px !important;
    position: relative;
}

.SERPInputArea header {
    text-align: left;
    font: normal normal 20px/28px Paralucent;
    letter-spacing: 0px;
    color: #444444;
    opacity: 1;
    margin-bottom: 10px;
}

.SERPInputArea textarea {
    width: 100%;
    height: 138px;
    background: #FFFFFF;
    border: 1px solid #E3E3E3;
    border-radius: 32px;
    opacity: 1;
    resize: none;
    padding: 22px 30px 22px 30px;
    text-align: left;
    font: normal normal 300 20px/28px Paralucent;
    letter-spacing: 0px;
    color: #929393;
}

.SERPDesktopCounter {
    background: #1F0242;
    border: 1px solid #E3E3E3;
    border-radius: 32px 0px 0px 32px;
    opacity: 1;
    padding: 40px 20px 40px 20px;
    text-align: right;
    font: normal normal 20px/28px Paralucent;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    border-right: 1px solid #E3E3E3;
}

.SERPMobileCounter {
    background: #1F0242;
    border: 1px solid #E3E3E3;
    border-radius: 0 32px 32px 0;
    opacity: 1;
    padding: 40px 20px 40px 20px;
    text-align: left;
    font: normal normal 20px/28px Paralucent;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.SERPDesktopCounterHeader {
    text-align: right !important;
    font: normal normal 20px/28px Paralucent;
    letter-spacing: 0px;
    color: #444444;
    margin-bottom: 10px;
    margin-right: 20px;
}

.SERPMobileCounterHeader {
    text-align: left !important;
    font: normal normal 20px/28px Paralucent;
    letter-spacing: 0px;
    color: #444444;
    margin-bottom: 10px;
    margin-left: 20px;
}

.SERPDesktopCounterError {
    text-align: right;
    font: normal normal 20px/28px Paralucent;
    letter-spacing: 0px;
    color: #D3148B;
    opacity: 1;
    margin-top: 10px;
    margin-right: 30px; 
}

.SERPMobileCounterError {
    text-align: left;
    font: normal normal 20px/28px Paralucent;
    letter-spacing: 0px;
    color: #D3148B;
    opacity: 1;
    margin-top: 10px;
    margin-left: 30px; 
}

.SERPInputURL, .SERPInputBold {
    background: #FFFFFF;
    border: 1px solid #E3E3E3;
    border-radius: 32px;
    opacity: 1;
    padding: 22px 30px 22px 30px;
    text-align: left;
    font: normal normal 300 20px/28px Paralucent;
    letter-spacing: 0px;
    color: #929393;
    opacity: 1;
}

.SERPOptions {
    display: flex;
    flex-direction: row;
    margin-top: 60px !important;
}

.SERPLabels {
    margin-left: 10px;
    text-align: left;
    font: normal normal 20px/28px Paralucent;
    letter-spacing: 0px;
    color: #444444;
    opacity: 1;
}

.SERPLabelsOther {
    margin-left: 20px;
    text-align: left;
    font: normal normal 20px/28px Paralucent;
    letter-spacing: 0px;
    color: #444444;
    opacity: 1;
}

.SERPOtherOptions {
    display: flex;
    flex-direction: row;
    margin-top: 34px !important;
}

.SERPOtherOptions span {
    text-align: left;
    font: normal normal 20px/28px Paralucent;
    letter-spacing: 0px;
    color: #929393; 
}

.SERPOtherOptionsBody {
    display: flex;
}

.SERPOptionsBody:hover label, .SERPOtherOptionsBody:hover label {
    color: #D3148B;
}

.SERPOptionsBody:hover input, .SERPOtherOptionsBody:hover input {
    cursor: pointer;
}

.SERPOtherOptionsCheckbox[type=checkbox] {
    position: relative;
    cursor: pointer;
}

.SERPOtherOptionsCheckbox[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 0;
    border: 1px solid #E3E3E3;
    border-radius: 6px;
    background-color: white;
}

.SERPOtherOptionsBody:hover .SERPOtherOptionsCheckbox[type=checkbox]:before {
    border: 2px solid #D3148B;
    opacity: 0.3;
    content: "" !important;
}

.SERPOtherOptionsCheckbox[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background: #D3148B;
    border-radius: 3px;
    position: absolute;
    top: 4px;
    left: 4px;
}

.SERPPreviewToolCardBackImg {
    position: absolute;
    z-index: 0;
    margin-left: 13%;
    margin-top: -5%;
    filter: blur(50px);
}

#standart-view[type="radio"] {
     -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 50%;
  }

@media (max-width: 767px) {
.desktopViewBody {
    display: none;
}
    
.mobileViewBodyTop {
    padding: 35px 40px 30px 40px;
}

.mobileViewBodyTop img {
    max-width: 78px;
    height: auto;
    flex: 0 0 78px;
}

.mobileViewSearchBar {
    padding: 8px 16px;
    font: normal normal 300 16px Paralucent;
    height: 36px;
    white-space: nowrap;
    overflow: hidden;
}

.mobileViewSearchInfo {
    width: 36px;
    height: 36px;
    flex: 0 0 36px;
}

.mobileViewHeader {
    font: normal normal 16px Paralucent;
    margin-bottom: 8px;
}

.mobileViewURL {
    font: normal normal 300 14px Paralucent;
    margin-bottom: 8px;
}

.mobileViewDescription {
    font: normal normal 300 14px Paralucent;
    line-height: 21px;
}

/* Input Area CSS */

.SERPInputArea {
    padding: 30px 36px !important;
}

.SERPInputArea header {
    font: normal normal 16px Paralucent;
    margin-bottom: 8px;
}

.SERPInputArea textarea {
    height: 144px;
    border-radius: 24px;
    padding: 16px 20px;
    font: normal normal 300 16px Paralucent;
    margin-bottom: 16px;
}

.SERPDesktopCounter {
    border-radius: 24px 0px 0px 24px;
    padding: 20px 10px;
    font: normal normal 14px Paralucent;
}

.SERPMobileCounter {
    border-radius: 0 24px 24px 0;
    padding: 20px 10px;
    font: normal normal 14px Paralucent;
}

.SERPDesktopCounterHeader {
    margin-bottom: 8px;
}

.SERPMobileCounterHeader {
    margin-bottom: 8px;
}

.SERPMobileCounterPx {
    margin-bottom: 13px;
}

.SERPDesktopCounterError {
    font: normal normal 16px Paralucent;
    margin-top: 8px;
    margin-bottom: 10px;
}

.SERPMobileCounterError {
    font: normal normal 16px Paralucent;
    margin-top: 8px;
    margin-bottom: 10px;
}

.SERPInputURL, .SERPInputBold {
    border-radius: 24px;
    font: normal normal 300 16px Paralucent;
    margin-bottom: 16px;
    padding: 16px 20px;
}

.SERPOptions {
    flex-direction: column;
    margin-top: 2px !important;
}

.SERPLabels {
    margin-left: 10px;
}

.SERPLabelsOther {
    margin-left: 20px;
}

.SERPOtherOptions {
    flex-direction: column;
    margin-top: 0 !important;
}

}