.contactHelpSectionLink {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    z-index: 3;
}

.contactHelpSectionLink a {
    text-decoration: none;
    text-align: left;
    font: normal normal 300 20px/28px Paralucent;
    letter-spacing: 0px;
    color: #929393;
    opacity: 1;
}

.contactHelpSectionLink a:hover {
    color: #D3148B;
}

.redDot {
    width: 6px;
    height: 6px;    
    background: #D3148B;
    border-radius: 50%;
    margin: 0 8px;
}

.contactHelpSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.contactHelpSectionHeader {
    text-align: center;
    font: normal normal 47px/47px Paralucent;
    letter-spacing: 2.35px;
    color: #D3148B;
    opacity: 1;
    margin-bottom: 40px;
    z-index: 1;
}

.contactHelpSectionSubHeader {
    text-align: center;
    font: normal normal 50px/64px Paralucent;
    letter-spacing: 2.5px;
    color: #FFFFFF;
    text-shadow: 0px 4px 10px #00000033;
    opacity: 1;
    margin-bottom: 30px;
    z-index: 1;
}

.contactHelpSectionParag {
    text-align: center;
    font: normal normal 300 24px/34px Paralucent;
    letter-spacing: 1.2px;
    color: #FFFFFF;
    text-shadow: 0px 4px 10px #00000033;
    opacity: 1;
    z-index: 1;
}

.contactHelpSectionImg {
    margin-bottom: 24px;
}

.contactHelpSectionBackImg {
    position: absolute;
    z-index: 0;
    margin-left: -2%;
    margin-top: 8%;
}

.contactHelpSectionBottomSideHeader {
    text-align: left;
    font: normal bold 60px/60px Paralucent;
    letter-spacing: 0px;
    color: #444444;
    opacity: 1;
    margin-bottom: 30px;
    margin-right: auto;
}

.contactHelpSectionBottomSideParag {
    text-align: left;
    font: normal 300 20px/28px Paralucent;
    letter-spacing: 0px;
    color: #929393;
    opacity: 1;
}

@media (max-width: 767px) {
    .contactHelpSectionLink {
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    
    .contactHelpSectionLink a {
        font: normal normal 300 14px Paralucent;
    }
    
    .contactHelpSectionHeader {
        font: normal normal 16px Paralucent;
        margin-bottom: 40px;
    }
    
    .contactHelpSectionSubHeader {
        font: normal normal 24px Paralucent;
        margin-bottom: 8px;
        line-height: 30px;
    }
    
    .contactHelpSectionParag {
        font: normal normal 300 16px Paralucent;
    }
    
    .contactHelpSectionImg {
        margin-bottom: 0;
    }
    
    .contactHelpSectionBackImg {
        position: absolute;
        z-index: 0;
        margin-left: -2%;
        margin-top: 8%;
    }
    
    .contactHelpSectionBottomSideHeader {
        font: normal bold 24px Paralucent;
        margin-bottom: 8px;
    }
    
    .contactHelpSectionBottomSideParag {
        font: normal 300 16px Paralucent;
        margin-bottom: 37px;
    }
}