.ourPartnersSectionBody {
    margin-top: 850px;
    position: relative;
    z-index: 2;
}

.ourPartnersSectionHeader {
    font-size: 60px;
    text-align: center;
    font: normal normal bold 60px/60px Paralucent;
    letter-spacing: 0px;
    color: #444444;
    opacity: 1;
    margin: 100px auto;
}

.ourPartnersImageBody {
    display: flex;
    justify-content: center;
}

.ourPartnersImages {
    filter: grayscale(100%);
}

.ourPartnersImages:hover {
    filter: grayscale(0%);
}

@media (max-width: 767px) {
    .ourPartnersSectionBody {
        margin-top: 350px;
    }
    
    .ourPartnersSectionHeader {
        font: normal normal bold 40px Paralucent;
        margin: 65px auto;
    }

    .ourPartnersImages {
        transform: scale(0.5);
    }
}