.languageBarEN {
    flex: 0 0 100px;
    display: flex;
    max-width: 100px;
    height: 100px;
    margin-top: 60px;
    margin-right: 60px;
    margin-left: 10px;
    opacity: 1;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    text-align: center;
}

.languageBarEN img {
    margin-right: 5px;
    margin-top: -3px;
}

.languageBarENToggle img {
    margin-right: 5px;
    margin-top: -3px;
}

.languageBarENToggle {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 190px;
    margin-top: 60px;
    margin-right: 60px;
    margin-left: 10px;
    opacity: 1;
    border: 1px solid #FFFFFF;
    text-align: center;
    padding-top: 37px;
    /* border-bottom-left-radius: 50px 50px;
    border-bottom-right-radius: 50px 50px;
    border-top-left-radius: 50px 50px;
    border-top-right-radius: 50px 50px; */
    border-radius: 50px;
    transition: 300ms ease-out;
    /* margin-bottom: -95px; */
}

.languageBarTR {
    display: flex;
    width: 80px;
    height: 80px;
    margin: 40px 10px 10px 10px;
    opacity: 1;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    text-align: center;
}

.languageBarEN a {
    text-align: center;
    margin: auto;
    text-decoration: none;
    color: #929393;
}

.languageBarENToggle a {
    text-align: center;
    margin: auto;
    text-decoration: none;
    color: #929393;
}

.languageBarENToggle a nav {
    text-align: center;
    margin: auto;
    text-decoration: none;
    color: #929393;
}