.blogWriterSectionLink {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 120px;
    position: relative;
    z-index: 3;
}

.blogWriterSectionLink a {
    text-decoration: none;
    text-align: left;
    font: normal normal 300 20px/28px Paralucent;
    letter-spacing: 0px;
    color: #929393;
    opacity: 1;
}

.blogWriterSectionLink a:hover {
    color: #D3148B;
}

.redDot {
    width: 6px;
    height: 6px;    
    background: #D3148B;
    border-radius: 50%;
    margin: 0 8px;
}

.blogWriterSectionCardBody {
    background: #FFFFFF;
    border-radius: 50px;
    opacity: 1;
    padding: 60px 40px 60px 40px; 
    margin-bottom: 80px;
}

.blogWriterSectionCardBodyProfilPicture {
    width: 330px;
    height: 330px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    position: absolute;
    z-index: 1;
    top: -45%;
    left: 3%;
}

.blogWriterSectionCardNameSurname {
    text-align: left;
    font: normal normal 47px/65px Paralucent;
    letter-spacing: 0px;
    color: #D3148B;
    opacity: 1;
    margin-bottom: 20px;
}

.blogWriterSectionCardTitle {
    text-align: left;
    font: normal normal 300 24px/34px Paralucent;
    letter-spacing: 0px;
    color: #444444;
    opacity: 1;
    margin-bottom: 75px;
}

.blogWriterSectionCardInfo {
    text-align: left;
    font: normal normal 24px/34px Paralucent;
    letter-spacing: 0px;
    color: #444444;
    opacity: 1;
    margin-bottom: 15px;
}

.blogWriterSectionCardExplanation {
    text-align: left;
    font: normal normal 20px/24px Montserrat;
    letter-spacing: 0px;
    color: #444444;
    opacity: 1;
}

.blogWriterSectionCardLinkedin {
    width: 32px;
    height: 32px;
    border: 1px solid #1F0242;
    border-radius: 50%;
    opacity: 1;
    background-color: transparent;
}

.blogWriterSectionCardLinkedin img {
    width: 16px;
    height: 14px;
    display: block;
    margin: auto;
    margin-top: 7px;
}

.blogWriterSectionCardShortName {
    text-align: center;
    font: normal normal 20px/24px Montserrat;
    letter-spacing: 0px;
    color: #444444;
    opacity: 1;
    margin-left: 10px;
    margin-top: 5px;
}

.blogWriterSectionHeader {
    text-align: left;
    font: normal normal 24px/34px Paralucent;
    letter-spacing: 0px;
    color: #444444;
    opacity: 1;
    margin-bottom: 15px;
}

.blogWriterSectionExplanation {
    text-align: left;
    font: normal normal 20px/24px Montserrat;
    letter-spacing: 0px;
    color: #444444;
    opacity: 1;
}

@media (max-width: 767px) {
    .blogWriterSectionLink {
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 117px;
    }
    
    .blogWriterSectionLink a {
        font: normal normal 300 14px Paralucent;
    }
    
    .blogWriterSectionCardBody {
        border-radius: 25px;
        padding: 108px 30px 40px 30px; 
        margin-bottom: 30px;
    }
    
    .blogWriterSectionCardBodyProfilPicture {
        width: 154px;
        height: 154px;
        top: -100px;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .blogWriterSectionCardNameSurname {
        font: normal normal 24px Paralucent;
        margin-bottom: 16px;
    }
    
    .blogWriterSectionCardTitle {
        font: normal normal 300 16px Paralucent;
        margin-bottom: 30px;
    }
    
    .blogWriterSectionCardInfo {
        font: normal normal 20px Paralucent;
        margin-bottom: 8px;
        margin-top: 30px;
    }
    
    .blogWriterSectionCardExplanation {
        font: normal normal 16px Montserrat;
        line-height: 19px;
    }
    
    .blogWriterSectionCardLinkedin {
        width: 24px;
        height: 24px;
    }
    
    .blogWriterSectionCardLinkedin img {
        width: 12px;
        height: 10.5px;
        margin-top: 5px;
    }
    
    .blogWriterSectionCardShortName {
        font: normal normal 14px Montserrat;
        margin-left: 8px;
        margin-top: 5px;
    }
    
    .blogWriterSectionHeader {
        font: normal normal 20px Paralucent;
        margin-bottom: 19px;
        margin-top: 30px;
    }
    
    .blogWriterSectionExplanation {
        font: normal normal 16px Montserrat;
        line-height: 19px;
    }
    
}