.successStoriesOthersCarouselBody {
    margin-bottom: 120px;
}

.successStoriesOthersCarouselBody ul {
    padding-top: 100px;
    padding-bottom: 100px;
}

/* .successStoriesOthersCarouselBody ul {
    bottom: -80px !important;
} */