.FAQSectionLink {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    z-index: 3;
}

.FAQSectionLink a {
    text-decoration: none;
    text-align: left;
    font: normal normal 300 20px/28px Paralucent;
    letter-spacing: 0px;
    color: #929393;
    opacity: 1;
}

.FAQSectionLink a:hover {
    color: #D3148B;
}

.redDot {
    width: 6px;
    height: 6px;    
    background: #D3148B;
    border-radius: 50%;
    margin: 0 8px;
}

.FAQSectionWrapper {
    margin-bottom: 60px;
}

.FAQSectionHeader {
    text-align: center;
    font: normal normal 47px/47px Paralucent;
    letter-spacing: 2.35px;
    color: #D3148B;
    opacity: 1;
    margin-bottom: 40px;
}

.FAQSectionHeaderSub {
    text-align: center;
    font: normal normal 50px/64px Paralucent;
    letter-spacing: 2.5px;
    color: #FFFFFF;
    text-shadow: 0px 4px 10px #00000033;
    opacity: 1;
    margin-bottom: 30px;
}

.FAQSectionParag {
    text-align: center;
    font: normal normal 300 24px/34px Paralucent;
    letter-spacing: 1.2px;
    color: #FFFFFF;
    text-shadow: 0px 4px 10px #00000033;
    opacity: 1;
}

.FAQSectionBackImg {
    position: absolute;
    z-index: 0;
    margin-left: 2%;
    margin-top: 0%;
    filter: blur(50px);
}

