.expertiseCaseStudiesHeader {
    text-align: center;
    font: normal normal 25px/60px Paralucent;
    letter-spacing: 0px;
    color: #D3148B;
    text-transform: lowercase;
    opacity: 1;
    margin-top: 120px; 
    margin-bottom: 20px;
}

.expertiseCaseStudiesHeaderSub {
    text-align: center;
    font: normal normal bold 60px/60px Paralucent;
    letter-spacing: 0px;
    color: #444444;
    margin-bottom: 120px;
}

.expertiseCaseStudiesBackImg {
    position: absolute;
    z-index: 0;
    margin-left: -52%;
    margin-top: 8%;
}

@media (max-width: 767px) {
    .expertiseCaseStudiesHeader {
        font: normal normal 16px Paralucent;
        margin-top: 63px; 
        margin-bottom: 16px;
    }
    
    .expertiseCaseStudiesHeaderSub {
        font: normal normal bold 40px Paralucent;
        margin-bottom: 30px;
    }
    
    .expertiseCaseStudiesBackImg {
        position: absolute;
        z-index: 0;
        margin-left: -52%;
        margin-top: 8%;
    }
}
