body {
  margin: 0;
  font-family: 'Paralucent' , 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden !important;
}

:root {
  background: #EBECED;
}

.formTransition-enter {
  opacity: 0;
}

.formTransition-enter-active {
  opacity: 1;
  transition: 1500ms ease-out;
}

/* .react-multi-carousel-dot-list {
  position: static !important;
}

.react-multi-carousel-track {
  padding-top: 100px !important;
  padding-bottom: 100px !important;
} */

