body {
  margin: 0;
  font-family: 'Paralucent' , 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.formTransition-enter {
  opacity: 0;
}

.formTransition-enter-active {
  opacity: 1;
  transition: 1500ms ease-out;
}

:root {
  background: #EBECED;
}
