.whatIsSEOSectionHeader {
    text-align: left;
    font: normal normal 900 50px/50px Paralucent;
    letter-spacing: 2.5px;
    color: #FFFFFF;
    opacity: 1;
    margin-bottom: 30px;
}

.whatIsSEOSectionButton {
    width: 264px;
    height: 52px;
    background: #FFFFFF;
    border-radius: 26px;
    border: 1px solid white;
    opacity: 1;
    text-align: center;
    font: normal normal 17px/20px Montserrat;
    letter-spacing: 0.17px;
    color: #D3148B;
}

.whatIsSEOSectionButton:hover {
    background: transparent;
    color: white;
}

.whatIsSEOSectionParag {
    text-align: left;
    font: normal normal 20px/35px Paralucent;
    letter-spacing: 1px;
    color: #565656;
    opacity: 1;
}

.whatIsSEOSectionBackImg {
    position: absolute;
    z-index: 0;
    margin-left: -39%;
    margin-top: -40%;
}

@media (max-width: 767px) {
    .whatIsSEOSectionHeader {
        font: normal normal 900 30px Paralucent;
        margin-right: auto;
    }
    
    .whatIsSEOSectionButton {
        width: 318px;
        height: 36px;
        font: normal normal 14px Montserrat;
        margin-bottom: 30px;
        margin-right: auto;
    }
    
    .whatIsSEOSectionParag {
        font: normal normal 16px Paralucent;
        line-height: 22px;
    }
    
    .whatIsSEOSectionBackImg {
        position: absolute;
        z-index: 0;
        margin-left: -39%;
        margin-top: -40%;
    }
}