.aboutSection {
    /* max-width: 1840px; */
    /* height: 1200px; */
    background: #F7F7F7;
    border-radius: 41px;
    opacity: 1;
    /* margin: auto; */
    display: flex;
    align-items: center;
    /* background-image: url('../../assets/Path\ 16726.svg');
    background-size: 691px 398x;
    background-position: top right; */
    padding: 120px 150px 120px 150px;
    position: relative;
}

@media (max-width: 992px) {
    .aboutSection {
        flex-direction: column;
        padding-top: 230px;
        margin-bottom: 20px;
    }
}

.aboutSectionLeftSide {
    display: flex;
    flex: 1.2;
    justify-content: center;
    /* margin-top: -275px; */
    flex-direction: column;
    margin-bottom: auto;
}

.aboutSectionRightSide {
    display: flex;
    flex: 1.5;
    flex-direction: column;
    justify-content: center;
    margin-top: -200px;
}

.aboutSectionRightSideBody {
    margin-top: 200px;
}

/* .aboutSectionLeftSide a {
    margin-left: 200px;
} */

.aboutSectionLeftSideForwardArrow {
    width: 20px;
    height: 20px;
}

.aboutSectionLeftSideAboutIconImg {
    /* width: 445px;
    height: auto; */
    display: block;
    margin-left: auto;
    margin-right: auto;  
}

/* @media (max-width: 576px) {
    .aboutSectionLeftSideAboutIconImg {
        width: 380px;
        height: auto;
    }
} */

.aboutSectionLeftSideHeader {
    font-size: 25px;
    font-weight: 500;
    text-align: left;
    font: normal normal 25px/60px Paralucent;
    letter-spacing: 0px;
    color: #D3148B;
    opacity: 1;
    /* margin-left: 200px; */
}

.aboutSectionRightSideHeader {
    font-size: 60px;
    text-align: left;
    font: normal normal bold 60px/60px Paralucent;
    letter-spacing: 0px;
    color: #444444;
    opacity: 1;
    padding-bottom: 70px;
}

.aboutSectionRightSideParag {
    font-size: 20px;
    text-align: left;
    font: normal normal 300 20px/35px Paralucent;
    letter-spacing: 1px;
    color: #565656;
    opacity: 1;
    padding-top: 30px;
}

.aboutSectionRightSideMore {
    font-size: 20px;
    text-align: left;
    font: normal normal 20px/60px Paralucent;
    letter-spacing: 0px;
    color: #C3C3C3;
    opacity: 1;
    text-decoration: none;
}

.aboutSectionRightSideMore:hover {
    color: #D3148B;
}

.multiBrandCarouselBody {
    width: 870px;
    margin-top: 200px;
    /* margin-right: 45px; */
    margin-left: auto;
    position: relative;
    margin-bottom: 75px;
}

@media (min-width: 1200px) and (max-width: 1400px) {
    .multiBrandCarouselBody {
        max-width: 520px;
        margin-left: auto;
    } 
}

@media (min-width: 992px) and (max-width: 1200px) {
    .multiBrandCarouselBody {
        max-width: 325px;
        margin-left: auto;
        margin-right: auto;
    } 
}

@media (min-width: 768px) and (max-width: 992px) {
    .multiBrandCarouselBody {
        max-width: 450px;
        margin-left: auto;
        margin-right: auto;
    } 
}

@media (min-width: 576px) and (max-width: 768px) {
    .multiBrandCarouselBody {
        max-width: 450px;
        margin-left: auto;
        margin-right: auto;
    } 
}

@media (max-width: 576px) {
    .multiBrandCarouselBody {
        max-width: 250px;
        margin-left: auto;
        margin-right: auto;
    } 
}

.multiBrandCarouselBody ul li {
    margin: auto;
    padding: 0 40px; 
    display: flex;
    justify-content: center;  
}
