.blogBody {
    position: relative;
    /* max-width: 1296px; */
    /* height: 1200px; */
    /* border: 1px solid red; */
    /* margin: 0 auto; */
}

.AboutSectionRightImg {
    position: absolute;
    filter: blur(50px);
    z-index: 0;
    margin-left: 68%;
    margin-top: -20%;
}

.AboutSectionLeftImg {
    position: absolute;
    filter: blur(50px);
    z-index: 0;
    margin-left: 4%;
    margin-top: 85%;
}

