.blogBody {
    /* width: 1239px;
    height: 734px; */
    background: #FFFFFF ;
    border-radius: 33px;
    opacity: 1;
    position: absolute;
    z-index: 1;
    top: 90%;
    right: 3%;
    display: flex;
    flex-direction: column;
    padding: 0 20px 150px 0;
    margin-left: 340px;
    text-decoration: none;
    max-width: 1250px;
}

@media (min-width: 992px) and (max-width: 1200px) {
    .blogBody {
        margin-left: 270px;
    }
}

@media (max-width: 992px) {
    .blogBody {
        position: static;
        margin: auto;
    }
    .blogBodyBrandImg {
        margin-left: 100px !important;
    }
    .blogBodyParag {
        margin-left: 100px !important;
    }
    .blogProfileImg {
        margin-left: 100px !important;
    }
}


.blogArrow {
    margin: 50px 50px 0 auto;
}

.blogArrow img {
    width: 20px;
    height: 20px;
}

.blogBodyBrandImg {
    display: block;
    margin-left: 300px;
    margin-right: auto;
    padding-top: 100px;
}

.blogBodyParag {
    font-size: 20px;
    text-align: left;
    font: normal normal 300 20px/35px Paralucent;
    letter-spacing: 1px;
    color: #696969;
    opacity: 1;
    margin: 80px 50px 80px 300px;
}

.blogProfile {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.blogProfileImg {
    margin-left: 300px;
    margin-right: 20px;
    width: 69px;
    height: 69px;
}

.blogPorfileNameSurname {
    font-size: 25px;
    text-align: left;
    font: normal normal 25px/60px Paralucent;
    letter-spacing: 0px;
    color: #444444;
    opacity: 1;
}

.blogPorfileTitle {
    font-size: 20px;
    text-align: left;
    font: normal normal 300 20px/60px Paralucent;
    letter-spacing: 0px;
    color: #444444;
    opacity: 1;
    margin-top: -35px;
}