.blogBody {
    background: #FFFFFF ;
    border-radius: 33px;
    opacity: 1;
    position: absolute;
    z-index: 1;
    top: 90%;
    right: 3%;
    display: flex;
    flex-direction: column;
    padding: 0 20px 150px 0;
    margin-left: 340px;
    text-decoration: none;
    max-width: 1250px;
}

.blogArrow {
    margin: 50px 50px 0 auto;
}

.blogArrow img {
    width: 20px;
    height: 20px;
}

.blogBodyBrandImg {
    display: block;
    margin-left: 300px;
    margin-right: auto;
    padding-top: 100px;
}

.blogBodyParag {
    font-size: 20px;
    text-align: left;
    font: normal normal 300 20px/35px Paralucent;
    letter-spacing: 1px;
    color: #696969;
    opacity: 1;
    margin: 80px 50px 80px 300px;
}

.blogProfile {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.blogProfileImg {
    margin-left: 300px;
    margin-right: 20px;
    width: 69px;
    height: 69px;
}

.blogPorfileNameSurname {
    font-size: 25px;
    text-align: left;
    font: normal normal 25px/60px Paralucent;
    letter-spacing: 0px;
    color: #444444;
    opacity: 1;
}

.blogPorfileTitle {
    font-size: 20px;
    text-align: left;
    font: normal normal 300 20px/60px Paralucent;
    letter-spacing: 0px;
    color: #444444;
    opacity: 1;
    margin-top: -35px;
}

/* @media (min-width: 992px) and (max-width: 1200px) {
    .blogBody {
        margin-left: 270px;
    }
}

@media (max-width: 992px) {
    .blogBody {
        position: static;
        margin: auto;
    }
    .blogBodyBrandImg {
        margin-left: 100px !important;
    }
    .blogBodyParag {
        margin-left: 100px !important;
    }
    .blogProfileImg {
        margin-left: 100px !important;
    }
} */

@media (max-width: 767px) {
    .blogBody {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        padding: 30px 30px 116px 30px;
        margin-left: auto;
        margin-right: auto;
        max-width: 90%;
        margin-top: -70px;
    }
    
    .blogArrow {
        display: none;
    }
    
    .blogBodyBrandImg {
        display: block;
        margin-left: 0;
        margin-right: auto;
        padding-top: 0;
        /* transform: scale(0.6); */
        margin-bottom: 20px;
        height: 30px;
        width: auto;
    }
    
    .blogBodyParag {
        font: normal normal 300 16px Paralucent;
        margin: 0;
        line-height: 22px;
        margin-bottom: 30px;
    }
    
    .blogProfile {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .blogProfileImg {
        margin-left: 0;
        margin-right: 8px;
        width: 48px;
        height: 48px;
    }
    
    .blogPorfileNameSurname {
        font: normal normal 20px Paralucent;
    }
    
    .blogPorfileTitle {
        font: normal normal 300 16px Paralucent;
        margin-top: 0;
    }
}