.customRightArrowImg {
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;
    z-index: 1000;
    /* transition: all .5s; */
    right: calc(4% + -27px);
    margin: auto 0;
    filter: grayscale(100%);
    transform: rotate(180deg);
    cursor: pointer;
}

@media (max-width: 1400px) {
    .customRightArrowImg {
        right: calc(4% + -21px);
    }
}

@media (max-width: 1200px) {
    .customRightArrowImg {
        right: calc(4% + -14px);
    }
}

/* @media (max-width: 576px) {
    .customRightArrowImg {
        right: calc(4% + -11px);
    }
} */

.customRightArrowImg:hover {
    filter: grayscale(0%);
    margin-right: -10px;
}

/* .CustomRightArrowButton {
    margin-bottom: 30px;
} */


@media (max-width: 767px) {
    .customRightArrowImg {
        width: 16px;
        height: 16px;
    }
    
}
