.customLeftArrowImg {
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;
    z-index: 999;
    /* transition: all .5s; */
    left: calc(4% + -27px);
    margin: auto 0;
    filter: grayscale(100%);
    cursor: pointer;
}

@media (max-width: 1400px) {
    .customLeftArrowImg {
        left: calc(4% + -21px);
    }
}

@media (max-width: 1200px) {
    .customLeftArrowImg {
        left: calc(4% + -14px);
    }
}

/* @media (max-width: 576px) {
    .customLeftArrowImg {
        left: calc(4% + -11px);
    }
} */

.customLeftArrowImg:hover {
    filter: grayscale(0%);
    margin-left: -10px;
}

/* .customLeftArrowButton {
    margin-bottom: 30px;
} */

@media (max-width: 767px) {
    .customLeftArrowImg {
        width: 16px;
        height: 16px;
    }
    
}