.graphicsBody {
    max-width: 762px;
    height: 915px;
    background: #FF8049;
    border-radius: 0px 50px 50px 0px;
    opacity: 1;
    position: absolute;
    z-index: 2;
    top: 70%;
    left: 0;
}

@media (min-width: 992px) and (max-width: 1200px) {
    .graphicsBody {
        max-width: 480px; 
    }
}

@media (max-width: 992px) {
    .graphicsBody {
        position: static;
        border-radius: 50px 50px 50px 50px;
        max-width: none;
        margin-bottom: 20px;
    }
    .graphicsBodySub {
        height: auto;  
    }
}

.graphicsBodySub {
    /* width: 762px; */
    height: 915px;
    margin-bottom: 55px;
    padding: 100px 120px;
}

.graphicsBodySubNum {
    font-size: 80px;
    text-align: left;
    font: normal normal bold 80px/60px Paralucent;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.graphicsBodySubNumSub {
    font-size: 40px;
    text-align: left;
    font: normal normal bold 40px/60px Paralucent;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.graphicsBodySubHeader {
    font-size: 25px;
    font-weight: 500;
    text-align: left;
    font: normal normal 25px/60px Paralucent;
    letter-spacing: 0px;
    color: #444444;
    opacity: 1;
}

.graphicsBodySubFirstRow {
    display: flex;
    flex-direction: column;
    margin-bottom: 54px;
}

.graphicsBodySubSecondRow {
    display: flex;
    flex-direction: column;
    margin-bottom: 84px;
}

.graphicsBodySubThirdRow {
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
    justify-content: space-between;
}

.graphicsBodySubThirdRowFirstColumn {
    display: flex;
    flex-direction: column;
}

.graphicsBodySubThirdRowSecondColumn {
    display: flex;
    flex-direction: column;
}

.graphicSampleImg {
    width: 450px !important;
    height: auto;
    margin-top: -30px;
}

/* .graphicsBody .carousel-root .carousel .control-dots {
    position: relative !important;
    bottom: -920px !important;
} */

/* .graphicsBody .control-dots .dot {
    width: 12px !important;
    height: 12px !important;
} */
