/* .multiBrandCarouselBodyImagesHangiKredi {
    width: 250px;
    height: auto;
} */

.multiBrandCarouselBodySub img {
    transform: scale(0.9);
}

.multiBrandCarouselWrapper {
    width: 90% !important;
    margin-left: auto !important;
    margin-right: auto !important;
}


@media (max-width: 767px) {
    .multiBrandCarouselBodySub img {
        transform: scale(0.6);
    }
}
