/* .customLeftArrowImg {
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;
    z-index: 1000;
    transition: all .5s;
    left: calc(4% + -27px);
    margin: auto 0;
    filter: grayscale(100%);
} */

.CustomLeftArrowForStoryBody {
    width: 90px;
    height: 90px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    opacity: 1;
}

.customLeftArrowImageForStory svg:hover  {
    margin-left: 10px;
}

/* .customLeftArrowImageForStory svg {
    position: absolute;
    z-index: 2;
} */
