.customLeftArrowForStoryBody {
    width: 90px !important;
    height: 90px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    opacity: 1;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    background: transparent;
}

.customLeftArrowImageForStory svg {
    width: 32px;
    height: 32px;
    filter: grayscale(100%);
}

.customLeftArrowImageForStory:hover svg {
    margin-right: 10px;
    cursor: pointer;
    filter: grayscale(0%);
}

@media (max-width: 767px) {
    .customLeftArrowForStoryBody {
        width: 72px !important;
        height: 72px;
        margin-left: 12px;
    }
    
    .customLeftArrowImageForStory svg {
        width: 26px;
        height: auto;
    }
}