.customRightArrowForStoryBody {
    width: 90px !important;
    height: 90px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    opacity: 1;
    position: absolute;
    right: 0;
    transform: rotate(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.customRightArrowImageForStory svg {
    width: 32px;
    height: 32px;
    filter: grayscale(100%);
}

.customRightArrowImageForStory:hover svg {
    margin-right: 10px;
    cursor: pointer;
    filter: grayscale(0%);
}

@media (max-width: 767px) {
    .customRightArrowForStoryBody {
        width: 72px !important;
        height: 72px;
        margin-right: 12px;
    }
    
    .customRightArrowImageForStory svg {
        width: 26px;
        height: auto;
    }
}
