.ourStorySectionBody {
    border: 1px solid #FFFFFF;
    background: transparent;
    border-radius: 50px;
    opacity: 1; 
    width: 70% !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.ourStoryCarouselImage {
    display: flex;
    flex-direction: column;
}

.ourStoryDate {
    text-align: center;
    font: normal normal bold 48px/68px Paralucent;
    letter-spacing: 0px;
    color: #444444;
    opacity: 1;
}

.ourStoryMonth {
    text-align: center;
    font: normal normal 300 20px/28px Paralucent;
    letter-spacing: 0px;
    color: #D3148B;
    /* color: #444444; */
    opacity: 1;
}

@media (max-width: 767px) {
    .ourStorySectionBody {
        border-radius: 36px;
        width: 50% !important;
        padding-top: 16px;
        padding-bottom: 16px;
    }
    
    .ourStoryDate {
        font: normal normal bold 24px Paralucent;
    }
    
    .ourStoryMonth {
        font: normal normal 300 16px Paralucent;
    }
}
